/* @import url('http://example.com/example_style.css'); */

/*@font-face {
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn2.hubspot.net/hub/476692/file-2435516326-eot/UnitedLens_files/century.eot?#iefix&v=3.2.1") format("embedded-opentype"), 
         url("//cdn2.hubspot.net/hub/476692/file-2435516321-woff/UnitedLens_files/century.woff?v=3.2.1") format("woff"), 
         url("//cdn2.hubspot.net/hub/476692/file-2440280107-ttf/UnitedLens_files/century.ttf?v=3.2.1") format("truetype");
}*/

/**
 * CSS @imports must be at the top of the file.      
 * Add them above this section.                             
 */



/* ==========================================================================
   HS COS Boilerplate v1.4.0                                
   ========================================================================== */

/* This responsive framework is required for all styles. */
{% include "hubspot/styles/responsive/required_base.css" %}
{% include "custom/page/Unitedlens-Feb2015-theme/Unitedlens-Feb2015-modules.css" %}

/* These includes are optional, but helpful. */
{% include "hubspot/styles/patches/recommended.css" %} 





/* ==========================================================================

   Index:         

  1. BASE STYLES   
    - Variables
    - Macros
    - Base
    - Typography

  2. COS STRUCTURE
    - Structure
    - Header
    - Content
    - Footer

  3. MAIN NAVIGATION
    - Custom Menu Primary
    - Mobile Menu

  4. TEMPLATE MODULE CLASSES
    - Common Template Classes
    - Site Pages
    - Landing Pages
    - System Pages

  5. COS COMPONENTS
    - Blog
    - Forms
    - Buttons

  6. MISCELLANOUS

  7. MOBILE MEDIA QUERIES

   ========================================================================== */








/* ==========================================================================


   1. BASE STYLES                                             


   ========================================================================== */





/* ==========================================================================
   Variables                                               
   ========================================================================== */


/**
 * Find the most consistently used font styles, colors, and container widths 
 * for your site and assign them to the jinja variables below for easy use 
 * and reference. 
 *
 * Apply the variable as shown below.  Ignore the jingja comment tags.
 *
 * {#  property: {{ variableName }};  #}
 */

/* Colors */
{% set baseColor      = "#25498d" %}    /* {# Dark Gray  |  Used on 'body' in 'Base'  |  Ex. "color: {{ baseColor }};" #} */
{% set linkColor      = "#3165c8" %}    /* {# Gray  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkColor }};" #} */
{% set linkHover      = "#f1d76e" %}    /* {# Black  |  Used on global anchors in 'Base'  |  Ex. "color: {{ linkHover }};" #} */
{% set accentColor1   = "#666" %}    /* {# Medium Gray  |  Ex. "color: {{ accentColor1 }};" #} */
{% set accentColor2   = "#ccc" %}    /* {# Light Gray  |  Ex. "color: {{ accentColor2 }};" #} */
{% set accentColor3   = "#ddd" %}    /* {# Lightest Gray  |  Ex. "color: {{ accentColor3 }};" #} */

/* Typography */
{% set baseFontFamily    = "Century Gothic" %}            /* {# Used on 'body' in 'Base'  |  Ex. "font-family: {{ baseFontFamily }};" #} */
{% set baseFontSize      = "14px" %}                         /* {# Used on 'body' in 'Base'  |  Ex. "font-size: {{ baseFontSize }};" #} */
{% set baseLineHeight    = "22px" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "line-height: {{ baseLineHeight }};" #} */
{% set webFont1          = "Helvetica, Arial, Sans-serif" %} /* {# Ex. "font-family: {{ webFont1 }};" #} */

/* Containers */
{% set maxWidth = "950px" %} /* Used on '.page-center' in 'Base' and in the 'Portrait tablet to landscape and desktop' media query */




/* ==========================================================================
   Macros                                                  
   ========================================================================== */


/** 
  * Create jinja macros for CSS3 properties that need browser prefixes.
  *
  * Apply the style as shown below on it's own CSS property line.  
  * Ignore the jinja comment tags. 
  *
  * {#  {{ variableName("values") }}  #}
  */

{% macro transition(value) -%} 
  -webkit-transition: {{ value }};
  -moz-transition: {{ value }};
  -o-transition: {{ value }};
  -ms-transition: {{ value }};
  transition: {{ value }};
{%- endmacro %} 

/** 
  * Example of how to apply the above macro (ignore the jinja comment tags):
  *
  * a {
  *   color: red;
  *   font-size: 12px;
  *   {#  {{ transition("all .2s linear") }}  #} 
  * }
  */




/* ==========================================================================
   Base                                                    
   ========================================================================== */


/** 
 * Box Sizing
 * 
 * Applies a natural box layout model to all elements so that width and padding 
 * are essentially combined, making responsive styles easier to manage.
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
} 

/* Website background color and default font styles */
body {
  background: url("http://cdn2.hubspot.net/hub/476692/file-2435345526-gif/UnitedLens_images/body-bg.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
  margin-top: 9px;
  color: {{ baseColor }};
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
  line-height: {{ baseLineHeight }};
}

/**
 * Page Center
 *
 * Apply .page-center to full-width modules.
 */

.container-fluid .row-fluid .page-center {
  float: none;
  max-width: {{ maxWidth }};
  margin: 0 auto;
}

a { 
    color: {{ linkColor }};
    text-decoration:underline;
}
a:hover, a:focus { 
    color: {{ linkHover }};
    text-decoration:none;
}

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: #3399ff;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #3399ff;
  text-shadow: none;
}




/* ==========================================================================
   Typography
   ========================================================================== */


/* Basic text */
p {} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family:Century Gothic;
    font-weight:400;
    color:#25498d;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {
    font-size:28px;
    color:#25498d;
    line-height:28px;
    text-transform:uppercase;
    border-bottom:1px solid #c9d3e6;
    padding:0px 0px 10px 0px;
}
h2 {
    font-size:23px;
    font-weight:400;
    color:#3165c8;
    line-height:23px;
}
h3 {
    font-size:20px;
    line-height:23px;
}
h4 {
    font-family:Century Gothic;
    font-size:18px;
    font-weight:700;
    color:#25498d;
    line-height:22px;
}
h5 {
    font-size:16px;
    line-height:22px;
}
h6 {
    font-size:14px;
    line-height:22px;
}

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

ul.unstyled, ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Quotes */
blockquote {}
blockquote p {}
blockquote small {}
blockquote small:before {}

q:before, q:after, blockquote:before, blockquote:after {}








/* ==========================================================================


   2. COS STRUCTURE                                            


   ========================================================================== */





/* ==========================================================================
   Structure                                               
   ========================================================================== */


/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container, 
.body-container, 
.footer-container {}




/* ==========================================================================
   Header
   ========================================================================== */


.header-container-wrapper {}
.header-container {}

/* Logo styling */
.header-container .hs_cos_wrapper_type_logo {}
.header-container .hs_cos_wrapper_type_logo a {}
.header-container .hs_cos_wrapper_type_logo a img {}

.custom-header-list ul {
    list-style: outside none none;
    margin: 0;
    padding: 6px 0 0 25px;
}
.custom-header-list ul li{
    display:inline-block;
}
.custom-header-list ul li:first-child a{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2435345531-jpg/UnitedLens_images/home-img.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}
.custom-header-list ul li:first-child a:hover{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2445831732-jpg/UnitedLens_images/home-img-hover.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}
.custom-header-list ul li:nth-child(2) a{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2435345521-jpg/UnitedLens_images/about.jpg") no-repeat scroll 1px 2px rgba(0, 0, 0, 0);
    padding: 5px 17px 5px 25px;
}
.custom-header-list ul li:nth-child(2):hover a{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2445831727-jpg/UnitedLens_images/about-hover.jpg") no-repeat scroll 1px 2px rgba(0, 0, 0, 0);
}
.custom-header-list ul li:nth-child(3) a{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2433064853-jpg/UnitedLens_images/contact.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    padding: 5px 17px 5px 27px;
}
.custom-header-list ul li:nth-child(3) a:hover{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2440681721-jpg/UnitedLens_images/contact-hover.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}
.custom-header-list ul li:nth-child(4) a{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2439514619-jpg/UnitedLens_images/careers_icon.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}
.custom-header-list ul li:nth-child(4) a:hover{
    background: url("http://cdn2.hubspot.net/hub/476692/file-2444987524-jpg/UnitedLens_images/careers_hover_icon.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}
.custom-header-list ul li a{
    color: #00377c;
    font-family: Century Gothic;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 13px 5px 25px;
    text-decoration: none;
}
.custom-header-list ul li a:hover{
    color:#f1d76e;
}
.custom-header-list img {
    margin-bottom: -1px;
    margin-right: 5px;
    vertical-align: sub;
}
.custom-search #query {
    background: url("http://cdn2.hubspot.net/hub/476692/file-2440360492-jpg/UnitedLens_images/search-bg.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
    border: medium none;
    color: #c9c9c9;
    font-family: "Century Gothic";
    font-size: 13px;
    font-weight: normal;
    height: 29px;
    margin: 0 -5px 0 0;
    padding:3px 0 0 16px;
    text-align: left;
    width: 146px;
    display:inline-block;
    border-left:1px solid #d1e5ff;
}
.custom-search .btnsubmit {
    background: url("http://cdn2.hubspot.net/hub/476692/file-2440360507-jpg/UnitedLens_images/search-glass.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 29px;
    width: 30px;
    vertical-align: bottom;
    margin-bottom:0px !important;
}
.custom-search .btnsubmit:hover{
    background-position: -1px 0;
}
.ulc{
    font-family:Verdana;
    font-size:36px;
    font-weight:700;
    font-style:italic;
    color:#00377c;
    text-decoration:none;
    margin:0px 0 0 -11px;
}
.tagline{
    font-family:Century Gothic;
    font-size:14px;
    font-weight:400;
    font-style:italic;
    color:#00377c;
    line-height:21px;
    margin: 0 0 0 -14px;
    padding: 14px 0 0;
}
.reg{
    font-family:Century Gothic;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    color:#00377c;
    text-decoration:none;
    line-height:21px;
    margin:0 0 0 -14px;
}
.reg > a{
    text-decoration:underline;
    color:#00377c;
    font-style:normal;
}
.reg > a:hover{
    text-decoration:none;
    color:#00377c;
}
.contact{
    font-family:Century Gothic;
    font-size:19px;
    font-weight:400;
    font-style:normal;
    color:#00377c;
    margin: 0px;
    padding-bottom: 9px;
}
.num{
    font-family:Century Gothic;
    font-size:22px;
    font-weight:700;
    font-style:normal;
    color:#00377c;
    margin:0px;
    line-height:18px;
}
.num > a{
    font-family:Century Gothic;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    color:#00377c;
    text-decoration:underline;
}
.num > a:hover{
    color:#cc0000;
    text-decoration:none;
}
.goog-te-gadget-simple {
    background-color: #ffffff;
    border-color: #9b9b9b #d5d5d5 #e8e8e8;
    border-left: 1px solid #d5d5d5;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 10pt;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.custom-right-header {
    padding-top: 5px;
}
.custom-logo {
    padding: 10px 0 0 1px;
}
.custom-language {
    padding: 2px 0 0 13px;
}
.custom-search {
    padding-top: 2px;
}
.custom-header-tagline {
    margin: 0 0 0 -11px;
    padding: 20px 0 0;
}
.custom-header-contact {
    padding-top: 20px;
    text-align: right;
}
.custom-navbg {
    background: url("http://cdn2.hubspot.net/hub/476692/file-2433561913-jpg/UnitedLens_images/topnav-bg.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    padding-top: 16px;
}
.custom-spacer {
    min-height: 47px !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
    /*Styling Here*/
    .custom-right-header {
        padding-top: 6px;
    }
    .custom-header-tagline{
        padding: 18px 0 0;
    }
    .custom-header-contact{
        padding:18px 0px 0px;
    }
}

/* ==========================================================================
   Content                                                 
   ========================================================================== */


.body-container-wrapper {}
.body-container {}

.body-container .page-center{
    padding: 25px 0 55px;
}

/* Unique Pages
   ========================================================================== */

/* Homepage */

/* Contact Us */

/* About Us */


/* Modular & Reusable Components
   ========================================================================== */

/* Callouts */

/* Social Media Custom Icons */

/* Additional Menus aside from the Main Nav */




/* ==========================================================================
   Footer
   ========================================================================== */


.footer-container-wrapper {}
.footer-container {}

.custom-footer-left p{
    font-family:Century Gothic;
    font-size:11px;
    font-weight:400;
    font-style:normal;
    color:#25498d;
    line-height:22px;
    margin:0px;
}
.custom-footer-left a{
    color: #25498d;
}
.custom-footer-left a:hover{
    color:#F1D76E;
}
.custom-footer-right ul{
    padding:0px;
    margin:0px;
    list-style:none;
}
.custom-footer-right ul li{
    display:inline-block;
    font-family:Century Gothic;
    font-size:11px;
    font-weight:400;
    font-style:normal;
    color:#25498d;
    text-decoration:none;
    line-height:22px;
    margin: 0 0 0 -1px;
}
.custom-footer-right ul li a{
    font-family:Century Gothic;
    font-size:11px;
    font-weight:400;
    font-style:normal;
    color:#25498d;
    text-decoration:underline;
    line-height:22px;
}
.custom-footer-right ul li a:hover{
    color:#f1d76e;
    text-decoration:none;
}
.custom-footer-right p{
    font-family:Century Gothic;
    font-size:11px;
    font-weight:400;
    font-style:normal;
    color:#25498d;
    line-height:22px;
    margin:0px;
}

.custom-footer-right {
    text-align: right;
    padding-bottom:1px;
}
.custom-footerbg {
    border-top: 1px solid #dddddd;
    padding: 4px 0 24px;
}
.custom-footer-left {
    padding: 1px 0 0;
}
/* ==========================================================================


   3. MAIN NAVIGATION                                            


   ========================================================================== */





/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


{% set ulColor       = "transparent" %} /* Set ul background color */
{% set liColor       = "transparent" %} /* Set li background Color */
{% set aColor        = "#25498d" %} /* Set link Color */
{% set aColorHover   = "#25498d" %} /* Set link Hover Color */

/* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{ 
  background:{{ ulColor }};
  display:block;
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
  background:{{ liColor }};
  margin-left: 5px;
  line-height: 24px;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
  color:{{ aColor }};
  font-family:Century Gothic;
  font-size:16px;
  text-transform:uppercase;
  text-decoration:none;
  padding: 9px 13px 14px 18px;
}


.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
   background: url("http://cdn2.hubspot.net/hub/476692/file-2438400855-jpg/UnitedLens_images/topnav-hover.jpg") repeat-x scroll left 42px rgba(0, 0, 0, 0);
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{
    margin:-2px 0 0 0;
    min-width:245px;
}
.custom-menu-primary .hs-menu-wrapper > ul li:nth-child(4) ul{
    min-width:158px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
  background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
  color:#25498d;
  font-family:Century Gothic;
  font-size:11px;
  font-weight:400;
  color:#25498d;
  text-transform:none;
  text-decoration:none;
  background-color: #e8edf3 !important;
  background-image: none;
  border-bottom: 1px solid #ffffff;
  font-weight: normal;
  padding: 0 13px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
  color:{{ aColorHover }};
  background:#d3dae2 !important;
}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
      .custom-menu-primary .hs-menu-wrapper { 
          display:block !important;
      }
  }




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

.mobile-trigger, .child-trigger{
    display: none; /* Hide button on Desktop */
}

@media (max-width: 767px){


  /* Variables
     ========================================================================== */

  {% set menuColorMobile = "#000000" %}   /* Set Mobile Menu Background Color */
  {% set aColorMobile = "#ffffff" %}      /* Set Link Color */
  {% set aColorHoverMobile = "#ffffff" %} /* Set Link Hover Color */

  /* 
    * Menu Reset
    *
    * Remove styling from desktop version of custom-menu-primary. Place any 
    * additional CSS you want removed from the mobile menu in this reset 
    */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
  }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 0px;          /* Position Button at right of screen  */
    right: 0px;        /*******************************************/
    width: 45px; /* Button width */
    height: auto; /* Button height */      
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
    border: 1px solid {{ menuColorMobile }};
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: {{ menuColorMobile }}; 
    margin:0 auto !important;
    left:0;
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color:{{ aColorHoverMobile }};
    background-color: #fff; 
    border-color: #000;
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color:{{ aColorHoverMobile }};
    background-color: #fff; 
    border-color: #000;
  }


  /* Toggle Button Icon
     ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: {{ menuColorMobile }}; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    top: -6px; /* Position top line */
  }
  .mobile-trigger i:after{
    top: 6px; /* Position bottom line */
  }
  
  .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,  
  .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
      background-color: #000; /* Icon color */
  }


  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:#000; /* Icon color */
    display: block;
  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

    
  /* Menu Styles on Mobile Devices
     ========================================================================== */  
     
   .custom-menu-primary.js-enabled{
       position: relative;
       padding-top: 44px; /* Makes room for button */
       margin: 10px 0 10px 0;
   }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0;          /**************************************************************/
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color:{{ menuColorMobile }}; /* Menu background color set off global menuColorMobile variable */
    width: 100%; /* Full screen width */
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 10px;
    color:{{ aColorMobile }}; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:{{ aColorHoverMobile }}; /* link hover color set by global mobile-aColorHover variable */
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
}








/* ==========================================================================


   4. TEMPLATE MODULE SELECTORS                                         


   ========================================================================== */





/* Common Template Selectors                                             
   ========================================================================== */

body.one-column {}
body.two-column {}
body.three-column {}
.content-wrapper {}
.main-content {}
.sidebar{}
.sidebar.right{}
.sidebar.left{}

/* Common One Column Selectors */
body.site-page.one-column, 
body.landing-page.one-column, 
body.error-template.one-column, 
body.password-template.one-column, 
body.subscription-template.one-column {}

body.site-page.one-column .main-content, 
body.landing-page.one-column .main-content, 
body.error-template .main-content, 
body.password-template .main-content, 
body.subscription-template .main-content {}

/* Common Two Column Selectors */
body.site-page.two-column, 
body.landing-page.two-column, 
body.blog {}  

body.site-page.two-column .main-content, 
body.landing-page.two-column .main-content, 
body.blog .blog-content {}

/* Common Three Column Selectors */
body.site-page.three-column, 
body.landing-page.three-column {}

body.site-page.three-column .main-content, 
body.landing-page.three-column .main-content {}


/* Site Pages                                            
   ========================================================================== */

/* One Column Template */
body.site-page.one-column {}
body.site-page.one-column .content-wrapper {}
body.site-page.one-column .main-content {}

/* Two Column Template */
body.site-page.two-column {}
body.site-page.two-column .content-wrapper {}
body.site-page.two-column .main-content {}
body.site-page.two-column .sidebar.right {}

/* Three Column Template */
body.site-page.three-column {}
body.site-page.three-column .content-wrapper {}
body.site-page.three-column .main-content {}


/* Landing Pages                                           
   ========================================================================== */

/* One Column Template */
body.landing-page.one-column {}
body.landing-page.one-column .content-wrapper {}
body.landing-page.one-column .main-content {}

/* Two Column Template */
body.landing-page.two-column {}
body.landing-page.two-column .content-wrapper {}
body.landing-page.two-column .main-content {}
body.landing-page.two-column .sidebar.right {}

/* Three Column Template */
body.landing-page.three-column {}
body.landing-page.three-column .content-wrapper {}
body.landing-page.three-column .main-content {}


/* System Pages                                          
   ========================================================================== */

/* Error Templates 404, 500 */
body.error-template.one-column {}
body.error-template.one-column .content-wrapper {}
body.error-template.one-column .main-content {}

/* Password template */
body.password-template.one-column {}
body.password-template.one-column .content-wrapper {}
body.password-template.one-column .main-content {}

/* Email Subscribition templates */
body.subscription-template.one-column {}
body.subscription-template.one-column .content-wrapper {}
body.subscription-template.one-column .main-content {}








/* ==========================================================================


   5. COS COMPONENTS                                        


   ========================================================================== */





/* ==========================================================================
   Blog                                         
   ========================================================================== */


/* Blog Post and Listing Body Class */
body.blog {}

/* Blog Post */
body.hs-blog-post {}

/* Blog Listing */
body.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}


/* Blog Content Column
   ========================================================================== */

.blog .blog-content {}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2 a {
    text-decoration:none;
}

/* Blog Author and Avatar */
#hubspot-author_data {}
#hubspot-author_data a.author-link {}
.hs-author-avatar {}
.hs-author-avatar img {}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
  border-width: 0;
  max-height: 170px;
  max-width: 210px;
  height: auto;
  width: auto;
  display: inline-block !important;
  float: right;
  margin: 20px 0 20px 20px;
}

/* Read More Link */
a.more-link {
    display:block;
    padding:10 0px;
}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}

/** 
 * Blog Social Sharing icons
 *
 * Overrides defaults to better align icons and prevent overlapping 
 */

.hs-blog-social-share {
  padding: 10px 0 0 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: auto;
}

/** 
 * Blog Commments 
 *
 * Custom styles are listed below, as the COS does not provide default styles.
 */

#comments-listing {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
}

.custom_listing_comments {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
}

.comment {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.comment-date { font-size: 13px; text-align: right; }
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }

/* Pagination */
.blog-pagination {}
.blog-pagination .previous-posts-link {}
.blog-pagination .all-posts-link {}
.blog-pagination .next-posts-link {}



/* Blog Sidebar
   ========================================================================== */

.blog .blog-sidebar {}

/* Blog Modules */
.blog .blog-sidebar .widget-span {}




/* ==========================================================================
   Forms
   ========================================================================== */


/* All Global Forms
   ========================================================================== */

/* Form Field */
body .hs-form-field {}

/* Descriptions */
body .hs-field-desc {}

/* Labels */
body label {}
body .hs-form-field > label {
    font-family:Century Gothic;
    font-size:14px;
    color:#25498d;
}

/* One Line Inputs */
body input[type="text"],
body input[type="password"], 
body input[type="datetime"], 
body input[type="datetime-local"], 
body input[type="date"], 
body input[type="month"], 
body input[type="time"], 
body input[type="week"], 
body input[type="number"], 
body input[type="email"], 
body input[type="url"], 
body input[type="search"], 
body input[type="tel"], 
body input[type="color"],
body input[type="file"],
body textarea,
body select {
  width: 100%;
  max-width:500px;
   background-color: #ffffff;
   border: 1px solid #cccccc;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
   -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
   -o-transition: border linear 0.2s, box-shadow linear 0.2s;
   transition: border linear 0.2s, box-shadow linear 0.2s;
   padding: 4px 6px;
   font-size: 14px;
   line-height: 20px;
   color: #555555;
   display: inline-block;
   margin-bottom: 0;
   vertical-align: middle;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   display:block;
   margin-bottom:10px;
}

body input[type="text"]:focus,
body input[type="password"]:focus, 
body input[type="datetime"]:focus, 
body input[type="datetime-local"]:focus, 
body input[type="date"]:focus, 
body input[type="month"]:focus, 
body input[type="time"]:focus, 
body input[type="week"]:focus, 
body input[type="number"]:focus, 
body input[type="email"]:focus, 
body input[type="url"]:focus, 
body input[type="search"]:focus, 
body input[type="tel"]:focus, 
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {
    border-color: rgba(82, 168, 236, 0.8);
   outline: 0;
   outline: thin dotted \9;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Separate Styles for Multiple Line Inputs */
body textarea {}
body textarea:focus {}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid, 
body textarea:focus:required:invalid, 
body select:focus:required:invalid {}

body input:focus:required:invalid:focus, 
body textarea:focus:required:invalid:focus, 
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}
:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"], 
.hs_cos_wrapper_type_form input[type="datetime"], 
.hs_cos_wrapper_type_form input[type="datetime-local"], 
.hs_cos_wrapper_type_form input[type="date"], 
.hs_cos_wrapper_type_form input[type="month"], 
.hs_cos_wrapper_type_form input[type="time"], 
.hs_cos_wrapper_type_form input[type="week"], 
.hs_cos_wrapper_type_form input[type="number"], 
.hs_cos_wrapper_type_form input[type="email"], 
.hs_cos_wrapper_type_form input[type="url"], 
.hs_cos_wrapper_type_form input[type="search"], 
.hs_cos_wrapper_type_form input[type="tel"], 
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus, 
.hs_cos_wrapper_type_form input[type="date"]:focus, 
.hs_cos_wrapper_type_form input[type="month"]:focus, 
.hs_cos_wrapper_type_form input[type="time"]:focus, 
.hs_cos_wrapper_type_form input[type="week"]:focus, 
.hs_cos_wrapper_type_form input[type="number"]:focus, 
.hs_cos_wrapper_type_form input[type="email"]:focus, 
.hs_cos_wrapper_type_form input[type="url"]:focus, 
.hs_cos_wrapper_type_form input[type="search"]:focus, 
.hs_cos_wrapper_type_form input[type="tel"]:focus, 
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}


/* Blog Subscription Form
   ========================================================================== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}

#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}


/* Google Search Form
   ========================================================================== */

/* Label */
.widget-type-google_search label {}

/* Input */
.widget-type-google_search input[type="text"] {}
.widget-type-google_search input[type="focus"] {}


/* Multi Column Form
   ========================================================================== */

body .hs-form fieldset.form-columns-1 {}
body .hs-form fieldset.form-columns-1 .hs-form-field {}

body .hs-form fieldset.form-columns-2 {}
body .hs-form fieldset.form-columns-2 .hs-form-field {}

body .hs-form fieldset.form-columns-3 {}
body .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}
body form.hs-form fieldset { max-width: none; }
body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  body form.hs-form fieldset .hs-form-field { padding: 0; }
  body form.hs-form fieldset.form-columns-3 .hs-form-field,
  body form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  body form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}




/* ==========================================================================
   Buttons                                              
   ========================================================================== */


/* All Global Buttons (Excluding CTAs)
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
  cursor: pointer;
   display: inline-block;
   padding: 4px 12px;
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 20px;
   color: #333333;
   text-align: center;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
   vertical-align: middle;
   cursor: pointer;
   background-color: #f5f5f5;
   background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
   background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
   background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
   background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
   background-repeat: repeat-x;
   border: 1px solid #cccccc;
   border-color: #e6e6e6 #e6e6e6 #bfbfbf;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   border-bottom-color: #b3b3b3;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
   -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   text-decoration:none !important;
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
    text-decoration: none;
   background-color: #e6e6e6;
   background-position: 0 -15px;
   -webkit-transition: background-position 0.1s linear;
   -moz-transition: background-position 0.1s linear;
   -o-transition: background-position 0.1s linear;
   transition: background-position 0.1s linear;
}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}


/* Form Module Button
   ========================================================================== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* Blog Comment Button
   ========================================================================== */
#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* Blog Subscription Button
   ========================================================================== */
#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* Google Search Button
   ========================================================================== */
.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* CTA Buttons
   ========================================================================== */

/** 
 * Override global CTA styles by wrapping the CTA module in a module group 
 * that has an ID, and use that ID to prefix your CTA selector. Example shown below.
 *
 * All overriding properties require !important tags. 
*/
#module-group-ID .cta_button {}
#module-group-ID .cta_button:hover {}
#module-group-ID .cta_button:focus {}








/* ==========================================================================


   6. MISCELLANOUS                                        


   ========================================================================== */





/** 
 * Styles that do not fit into available sections above can go here.
 * For example, one would place 3rd party plugin overriding styles here.
 *
 * This section is NOT for 'Custom' styles.  All custom styles must go in the
 * proper sections above.
 *
 * For instance, custom header and footer styles must go in the HEADER and 
 * FOOTER sections.  Custom styles for anything in-between the header and footer 
 * (such as, styles that are unique to the HOMEPAGE only), must go in the 
 * CONTENT section.
*/ 








/* ==========================================================================


   7. MOBILE MEDIA QUERIES                              


   ========================================================================== */

@media (max-width: 975px) and (min-width:768px){
    .header-container .page-center{
      padding:0px 10px;  
    }
    .custom-search #query{
        width: 106px;
        padding: 3px 0 0 9px;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > a{
        padding: 9px 8px 14px 8px;
        font-size:14px;
    }
    .custom-header-list ul{
        padding: 6px 0 0 2px;
    }
    .custom-header-list ul li a{
        padding: 5px 2px 5px 21px;
    }
    .custom-search{
        margin:0px !important;
    }
    .footer-container .page-center{
        padding:0px 10px;
    }
    .body-container .page-center{
        padding-left:15px;
        padding-right:15px;
    }
    .goog-te-menu-value{
        margin-left: -3px;
        margin-right: 0px;
        font-size: 10px;
    }
}

   

/* Screen sizes smaller than site maxWidth (.page-center)
   ========================================================================== */

@media (max-width: {{maxWidth}}) {}


/* Landscape tablet and smaller devices
   ========================================================================== */

@media (max-width: 767px) {
    .custom-logo {
        text-align: center;
    }
    .custom-language {
        padding: 10px 0 0;
        text-align: center;
    }
    .custom-header-list ul {
        list-style: outside none none;
        margin: 0;
        padding: 15px 0 0;
        text-align: center;
    }
    .custom-search {
        padding-top: 15px;
        text-align: center;
    }
    .ulc{
        margin: 0;
        text-align: center;
    }
    .tagline{
        margin: 0;
        text-align: center;
    }
    .reg{
        margin: 0;
        text-align: center;
    }
    .custom-header-contact {
        padding-top: 20px;
        text-align: center;
    }
    .custom-menu-primary .hs-menu-wrapper > ul{
        background: none repeat scroll 0 0 #f7f9fe;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > a{
        color:#25498d;
        font-family:Century Gothic;
        font-size:16px;
        text-transform:uppercase;
        text-decoration:none;
    }
    .custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
        background:none;
        color:#25498d;
    }
    .custom-footer-left {
        padding: 1px 0 0;
        text-align: center;
    }
    .custom-footer-right {
        padding: 15px 0 1px;
        text-align: center;
    }
    .body-container .page-center{
        padding-left:15px;
        padding-right:15px;
    }
    .custom-spacer {
        min-height: 64px !important;
    }
    body input[type="text"],
    body input[type="password"], 
    body input[type="datetime"], 
    body input[type="datetime-local"], 
    body input[type="date"], 
    body input[type="month"], 
    body input[type="time"], 
    body input[type="week"], 
    body input[type="number"], 
    body input[type="email"], 
    body input[type="url"], 
    body input[type="search"], 
    body input[type="tel"], 
    body input[type="color"],
    body input[type="file"],
    body textarea,
    body select {
      max-width: 100%;
    }
}
     

/* Landscape phones and smaller devices
   ========================================================================== */

@media (max-width: 479px) {}