%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  //border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 3em .75em 1em;
  text-decoration: none;
  position:relative;
  @include transition(background 0.1s linear);
  &:hover {
    background-color: $blue;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
    span{
      display:block;
      font-weight:normal;
      margin-bottom:.3em;
    }
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none; 
  vertical-align: middle;
  white-space: nowrap;

}

.btn-dark, .btn, .hs-button{
	@extend %button;
  &:after{
    content: '';
    background-image: url(https://www.unitedlens.com/wp-content/themes/ulc-default/img/ico-arrow-yellow.png);
    background-size: 0.8125em;
    background-position: center;
    display: block;
    top: 0;
    bottom: 0;
    right: 1.25em;
    position: absolute;
    width: 20px;
    height: auto;
    background-repeat: no-repeat;
  }
}
.btn-dark {
	border:solid 3px $medium-gray;
  background-color: $black;
}
.btn {
	background-color:$blue;
}
.lps-btn{
  @extend %button;
  background-color: orange;
  padding:1.25em;
}