.site-wrap {
	background: $white;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

/*=============== Site Header ===============*/
.site-header {
	background-color:#06021b;
	.inner-wrap{
		padding-bottom:0;
		padding-top:2.5625em;
		@include mq(medium){ 
			position:relative;
		}
	}
}

.site-logo{
	margin-bottom: 2.5em;
	color:$white;
	@include span-columns(7 of 12);

	&:hover{
		color:$light-gray;
	}
	span{
		position:absolute;
		display:block;
		text-align:center;
		width:100%;	
		font-size:$small-font-size;
	}
	@include mq(medium){
		margin-bottom:0;
		span{
			width:100%;
			left: 194px;
  		bottom: 90px;
			text-align:left;
			font-size:$base-font-size;
		}
	}
}  

.hs-landing-page .site-logo{
	span{
		position:relative;
		bottom:60px;
	}
}

.site-utility-nav {
	@include span-columns(5 of 12);
	@include omega;
	overflow:hidden;
	margin-top:1.25em;
	.social-wrap {
		width:15em;
		display:none;
	}
	.sh-utility-menu{
		display: none;
		overflow: hidden;
	}
	.sh-creds{
		color:$white;
		float:right;
		margin-right: 1em;
		padding: 0.625em 1em 0.625em 2.5em;
	  background-position: 0.0em 49%;
	  display: inline-block;
	  background-repeat:no-repeat;
	}
	.sh-iso{background-image: url("img/ico-iso.svg");}
	.sh-itar{background-image: url("img/ico-itar.svg");}

	@include mq(medium) {
		margin-top:3.75em;
		text-align:right;
		float:right;
		.sh-utility-menu{
			display:block;
			position:absolute;
			top:0;
			right:1.5em;
		}
		.sh-utility-tab{
				background-color: $light-gray;
				border-radius:0 0 5px 5px;
				overflow: hidden;
				float:right;
				a{
					color:$dark-blue;
					padding: 0.625em 1em 0.625em 2.5em;
				  background-position: .75em 49%;
				  display: inline-block;
					&:hover{
						background-color: $white;
					}
					&:nth-child(1) {
						background-image: url(img/ico-home.svg);
						background-repeat: no-repeat;
						padding-left:3.75em;
						background-position: 1.875em 45%;
					}
					&:nth-child(2) {
						background-image: url(img/ico-about.svg);
						background-repeat: no-repeat;
					}
					&:nth-child(3) {
						background-image: url(img/ico-language.svg);
						background-repeat: no-repeat;
					}
					&:nth-child(4) {
						background-image: url(img/ico-contact.svg);
						background-repeat: no-repeat;
					}
					&:nth-child(5) {
						background-image: url(img/ico-careers.svg);
						background-repeat: no-repeat;
						padding-right: 1.875em;
					}
				}
			}
	}
}
.site-search {

}

//Site Header Icons
.sh-icons {
	float:right;
	@include mq(medium) {
	}
}
%sh-ico {
	background-repeat:no-repeat;
	background-position:center top;
	display:inline-block;
	padding-top:1.2em;
	width:2em;
	margin-left:1em;
	
	text-align:center;
	//background-color:red; 
	span {
		font-size:.75em;
	}
	@include mq(medium) {
		//float:right;
	}
}
.sh-ph {
	background-image:url(img/ico-phone.svg);
	background-position: 0 em(5);
	background-repeat: no-repeat;
	color:$white;
	font-weight:bold;
	display:none;
	margin:0;
	padding-left:1.5em;
	&:hover{
		color:$yellow;
	}
	i {
		font-style:normal;
		//display:none;
	}
	@include mq(medium) {
		display:inline-block;
		font-size:$medium-font-size;
		i {
			//display:inline;
		}
	}
}

.sh-email {
	display:none;
}

.sh-ico-search {
	display:none;
	@include mq(medium){
		width:5%;
		height:1.7em;
		margin-top:1em;
		float:left;
		display:block;
		background-image:url(img/ico-search.svg);
		@extend %sh-ico;
	}
}
.sh-ico-contact{
	color:$white;
	background-image:url(img/ico-phone.svg);
	margin:0;
	width:3em;
	@extend %sh-ico;
	&:hover{
		color:$yellow;
	}
	@include mq(medium) {
		display:none;
	}   
}
.sh-ico-menu {
	color:$white;
	background-image:url(img/ico-nav.svg);
	@extend %sh-ico;
	&:hover{
		color:$yellow;
	}
	@include mq(medium) {
		display:none;
	}
}

/*=============== Site Intro ===============*/

.site-intro-section{
	background-color:#000;
	background-repeat: no-repeat;
	background-position:50%;
	color:$white;

	.si-title{
	color:$white;
	font-size:$large-font-size;
	margin-bottom:0em;
	}
	.si-btn{
		display:block;
	}
	
	@include mq(medium) {
	min-height:530px;

		.si-content{
			@include span-columns(7 of 12);
			margin-top:2.5em;
		}
		.si-title{
			font-size:$display-font-size;
		}
		.si-blurb{
			font-size:$medium-font-size;
		}
		.si-btn{
			display:inline-block;
			margin-top:2em;
		}

	}/* mq(medium) */
} 

/*=============== Emergency Message ===============*/
.emergency-notification{
	background-color: #bbb;
	font-style:italic;
	text-align:center;
	border-bottom:solid 1px #fff;
	color:$white;
	.inner-wrap{
		padding:0.5em;
	}
}
/*=============== Products Section ===============*/

	.products-section{
		overflow:hidden;
		position:relative;
	//	background-color:red !important;
		background-color:#000 !important;
		border:1px solid $white;
		
		@include mq(large) {
			.product-item-wrap {
				width:80%;
				float:right;
				clear:none;
			}
		}
	}

.ps-text{
	border-bottom:1px solid $white;
	padding:em(20);	
	h2 {
		margin:0;
		color:$white;
		font-size: $xlarge-font-size;
	}
	p {
		margin:0;
		color:$white;
	}
	@include mq(large) {
	border-bottom:0;
		width:20%;
		position:absolute;
		left:0;
		bottom:0;
		border-bottom:1px solid $white;
		border-top:0;
	}
}

.product-item-wrap {
	display:block;
	clear:both; 
	overflow:hidden; 
}
.product-item {
	border-bottom:1px solid $white;
	position:relative;
	display:block;
	overflow:hidden;
	border-left: 1px solid $white;
	min-height: em(242); 
	padding: 1em .5em 0;
	@include transition(opacity 0.1s linear);
	&:hover {
		opacity:.75;
	}
	@include mq(large) {
		&:hover {
			img {
				-webkit-transform: scale3d(0.95,0.95,1);
				transform: scale3d(0.95,0.95,1);
			}
			h3.home-product-heading{
				-webkit-transform: translate3d(0,-30px,0);
				transform: translate3d(0,-30px,0);
			}
			h3 {
				-webkit-transform: translate3d(0,-41px,0);
				transform: translate3d(0,-41px,0);
			}
			p {
				opacity: 1;
		-webkit-transform: perspective(1000px) rotate3d(1,0,0,0);
		transform: perspective(1000px) rotate3d(1,0,0,0);
			}
		}
	}
	@include mq(xlarge) {
		&:hover {
			h3.home-product-heading{
				-webkit-transform: translate3d(0,-30px,0);
				transform: translate3d(0,-30px,0);
			}
			h3 {
				-webkit-transform: translate3d(0,-58px,0);
				transform: translate3d(0,-58px,0);
			}
		}
	}
	img {
		opacity: 0.95;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		display:block;
		position: absolute;
    top: 50%;
    margin-top: -100px;
	}
	figcaption {
		padding:0 !important;
		margin:0 !important;
		float:left;
		p {
			color:$white;
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg);
			transform: perspective(1000px) rotate3d(1,0,0,90deg);
			-webkit-transform-origin: 50% 0%;
			transform-origin: 50% 0%;
			position:absolute;
			bottom:10px;
			padding-right:11px;
			left:20px;
			margin-bottom:0px;
		}
		h3 {
			color:$white;
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(0,25px,0);
			transform: translate3d(0,25px,0);
			text-align:left;
			font-size:$base-font-size;
			margin:0;
			position:absolute;
			bottom:60px;
			left:20px;
			span{
				display:block;
			}
			@include mq(large){
				font-size:$medium-font-size;
			}
		}
	}
	.product-section .rows-of-2-ns{
		width:50%;
	}

	@include mq(medium) {
		
	
	}
	@include mq(large) {
		
	
	}
	@include mq(xlarge) {
	min-height: em(300); 	
	
	}
}

/*=============== Capabilities Rotator Section ===============*/

.cr-nav-container{
	@include mq(medium){
		padding:0 1.25em;
		padding-top:3.75em;
		padding-bottom:1.25em;
	}	
}

.cr-nav{
	width:100%;
	
	@include mq(medium) {
		float:left;
		margin-top:10px;
		
		.cr-nav-item:nth-child(1){
			width:20%;
		}
		.cr-nav-item:nth-child(2){
			width:23.5%;
		}
		.cr-nav-item:nth-child(3){
			width:30.5%;
		}
		.cr-nav-item:nth-child(4){
			width:26%;
		}

	}// mq(medium)

	@include mq(large) {
		width:80%;
		font-size:$base-font-size;
	}

}// cr-nav

.cr-title{
	padding:.5em;
	width:100%;
	color:$blue;
	font-size:$xlarge-font-size;

	@include mq(medium){
		width:100%;
		float:left;
		margin:0;
		padding:0;
	}
	@include mq(large){
		width:20%;
	}
}

.cr-nav-item {
	display:block;
	padding:1.6em 2em 0 4.5em;
  border: solid 1px #D8E4F2;
  color: $blue;
  font-size: $base-font-size;
  font-weight:bold;
  margin: 0;
  min-height:4.875em;
  position: relative;
  text-align:left;
  background-size: 3.75em 4.875em;
	background-repeat: no-repeat;

	&:nth-child(1){
		background-image: url(img/cr-nav-thumb-1.jpg);
	}
		&:nth-child(2){
		background-image: url(img/cr-nav-thumb-2.jpg);
	}
		&:nth-child(3){
		background-image: url(img/cr-nav-thumb-3.jpg);
	}
		&:nth-child(4){
		background-image: url(img/cr-nav-thumb-4.jpg);
	}
  &:after{
		content:"";
		position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  width: 2em;
	  background-color: $blue;
	  background-image: url(img/ico-arrow-yellow.png);
	  background-repeat: no-repeat;
	  background-position: 50%;
	}

	@include mq(medium) {
		text-align:center;
		background-size: 0;
		min-height:20px;
		padding:0;
		margin:0;
		background-image: none!important;
		background-color: none;
		float:left;
		color:$blue;
		position: relative;
		cursor:pointer;
		border:none;
		&:after{display: none;}
		&.active{
			color:$dark-blue;
			&:after{
				display:block;
				background-color:transparent;
				content: '';
			  background-image: url(img/ico-arrow-capabilities.png);
			  position: absolute;
			  top:auto;
			  bottom:-42px;
			  left: 0;
			  right:0;
			  margin:auto;
			  width: 40px;
			  height: 30px;
			}
		}
	}// mq(medium)
}//cr-nav-item

	.capabilities-rotator-section{ 
		
		.cr-window{
			display:none;
			.btn-dark{
				font-size:$medium-font-size;
			}
			@include mq(medium) {
				display:block;
				padding-top:3em;
				background-color: $black;
				background-image:url(img/capabilities-thin-film-coating.jpg);
				background-repeat:no-repeat;
				background-position: 50% 60%;
				min-height:500px;
				width:100%;
				clear:both;
				.cr-content{
					float:right;
					color:$white;
					@include span-columns (5 of 12);
					@include shift(7);
					.cr-subtitle{
						font-size:$xlarge-font-size;
						color:$white;
					}
					.cr-blurb{
						font-size:$medium-font-size;
						margin-bottom:2em;
						padding-right:1em;
					}
				}
			}// mq(medium)
		}//cr-window
	}//capabilities-rotator-section

	.features-offered-section{
		background-color: $light-gray;
		overflow:hidden;
		h2{
			font-size:$xlarge-font-size;
			color:$dark-blue;
			@include mq(medium) {
				margin:0;
			}
		}
	}

.fo-offer, .fo-title{
	@include span-columns(12 of 12);
	@include mq(medium) {
		@include span-columns(6 of 12);
	}
}

.fo-btn{
		display:block;
		font-size:1.275em;
		
	}

.fo-btn:hover{
		background-color:$dark-blue;
	}

/*=============== Primary Content ===============*/

.site-content-primary {
	width:100%;
  
	p a{
		text-decoration:underline;
	}

	@include mq(medium) {
		@include span-columns(9 of 12);
	}
	.product-item{

			
				min-height: auto;
			

			figcaption{
				h3{
					bottom: em(30);
					@include mq(medium) {
						font-size: em(16);
					}
					@include mq(large) {
						font-size: em(18);
					}
					@include mq(xlarge) {
						font-size: em(22);
					}
				}
				}
				
			img{
				margin-top: auto;
				position: relative;
				top: auto;
			}
		
	
	
}
}
.scp-title{
	font-size:$xlarge-font-size; 
	color:$blue;
}
.scp-emph{
	font-size:$medium-font-size;
	color:$blue;
}

/* Chart */
.spec-table-wrapper{
	border:solid 3px $light-gray;
	padding:1em;
	margin-top:1em;
	overflow:hidden;
}

.spec-table{
	overflow-y:hidden;
	max-height:0;
	margin-bottom:0;
	@include transition(all 0.5s ease-in-out);
	&.active{
		max-height:9999px;
		@include transition(all 0.5s ease-in-out);
	}
}

.table-title{
	margin:0;
	font-size:$medium-font-size;
	color:$blue;
	position:relative;
	cursor:pointer;
	@include transition(all 0.5s ease-in-out);
	&:after{
		content:"+";
		position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  width: 1em;
	  background-position: 50%;
	}
}

.table-title.active{
	color:$dark-blue;
	margin-bottom:20px;
	@include transition(all 0.5s ease-in-out);
	&:after{
		content:"-";
	}
}

/*=============== Secondary Content ===============*/

.site-content-secondary {
	width:100%;
	@include mq(medium) {
		@include span-columns(3 of 12);
		@include omega;
	}
	.scs-title{
		color:$dark-blue;
	}
	.menu{
		margin-bottom:1em;
	}
	.menu-item{
		border-bottom:solid 1px $blue;
		&:first-child{
			border-top:solid 1px $blue;
		}
		a{
			display:block;
			padding:0.25em 0;
		}
		a.active{
			font-weight:bold;
		}	
	}
}

.scs-btn{
	margin-bottom:1em;
	display:block;
}

.back-to-top{
	display: none;
	@include mq(medium){
	display:block;
	text-align:center;
	margin:auto;
	padding:0.5em 1em;
	position:fixed;
	bottom:3.5em;
	right:2em;
	font-weight:bold;   
	background-color: $white;
	z-index:20;
	}
}

/*=============== HubSpot Landing Page ===============*/
ul.lps-sales-points {
	margin-left:1.75em;

}

.lps-sales-points li{
	position:relative;
}

ul.lps-sales-points li:after{
	content: '';
  width: 1.5em;
  height: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
   background-image: url(https://www.unitedlens.com/wp-content/themes/ulc-default/img/ico-bullet.svg);
  background-position: center center;
  background-size: 0.45em;
  background-repeat: no-repeat;
  color:$blue;
}

.lps-imagery{
	@include span-columns(12 of 12);
	@include mq(medium){
		@include span-columns(4 of 12);
	}
}

.landing-page-section .site-content-primary{
	@include span-columns(12 of 12);
	@include omega;
	@include mq(medium){
		@include span-columns(8 of 12);
	}
}

.lps-title-action{
	font-style:italic;
	color:$medium-gray;
	font-weight:bold;
	font-size:$large-font-size;
}

.lps-title{
	color:$dark-blue;
}
 
 .lps-emph{
 	font-size:$medium-font-size;
 }

 /*============== Hubspot Two Columns ====================*/

.hs2col-sales-points {
	margin-left:1.75em;
}

.hs2col-sales-points li{
	position:relative;
}

ul.hs2col-sales-points li:after{
	content: '';
  width: 1.5em;
  height: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  background-image: url(https://www.unitedlens.com/wp-content/themes/ulc-default/img/ico-bullet.svg);
  background-position: center center;
  background-size: 0.45em;
  background-repeat: no-repeat;
  color:$blue;
}

.hs2col-imagery{
	@include span-columns(12 of 12);
	@include mq(medium){
		@include span-columns(6 of 12);
	}
}

.hubspot-two-columns .site-content-primary{
	@include span-columns(12 of 12);
	@include omega;
	@include mq(medium){
		@include span-columns(6 of 12);
	}
}

.hs2col-title-action{
	font-style:italic;
	color:$medium-gray;
	font-weight:bold;
	font-size:$large-font-size;
}

.hs2col-title{
	color:$dark-blue;
}
 
 .hs2col-emph{
 	font-size:$medium-font-size;
 }

 /*============== Hubspot Forms ====================*/
 .hs-content-id-3655496703 .hs-form fieldset{
 	max-width:1000px;
 }

/*=============== Site Footer ===============*/
.site-footer {
	background-color:$white;
	text-align:left;
	color:$black;

	.social-wrap{
		max-width:150px;
	}
	a{
		color:$black;
		&:hover{color:$blue;}
	}
}

.sf-title{
	margin:40px 0 20px 0;
	color:$dark-blue;
}

.sf-col{

	p{
		padding-left:30px;
		background-position: 0 3px;
		background-repeat: no-repeat;
	}
	
	@include mq(medium) {
		@include span-columns(4 of 12);
	}
}

.sf-address{
	background-image: url(img/ico-address.svg);
}
.sf-phone{
	background-image: url(img/ico-phone-footer.svg);
}
.sf-email{
	background-image: url(img/ico-email.svg);
}
.sf-resource{
	background-image: url(img/ico-resources.svg);
	background-size: 1.25em; 
}
.rssincl-itemtitle{
	background-image: url(img/ico-twitter.svg);
}

.sf-small {
	background-color:$dark-blue;
	text-align:center;
	color:$white;
	a{
		color:$white;
	}
	.inner-wrap {
		padding-top:$baseline*2;
		padding-bottom:$baseline*2;
	}
}

.sf-block-1{
	float:left;
	text-align:left;
	@include span-columns(6 of 12);
}

.sf-block-2{
	float:right;
	text-align:right;
	margin-top: 0;
	@include span-columns(6 of 12);
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
    display:none;
}

/*=============== Search ===============*/
.search-table {
  display:table;
  width:100%;
  float: right;
  padding:0;
}
.search-row {
  display:table-row;
  width:100%;
}
.search-cell1 {
  display:table-cell;
  padding-right:0.4375em;
  
  
}
.search-cell2 {
  display:table-cell;
  width:2.1875em;
  border: 0;
  
}
.search-text {
 font-size:.8em;
  width:100%;
  height:2.3em;
  border:1px solid red;
  float:left;
  padding-left:.5em;
  margin-bottom:0 !important;
}
.search-submit {
  width:100%;
  height:2.3em;
  border:0;
  float:right;
  background:url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
	.search-submit {
	  background:url(img/ico-search.png) no-repeat center center !important;
	}

}
@include mq(medium) {
	.site-search {
		width:100%;
		
	}
.search-text {
  height:2.3em;
}
.search-submit {
  height:2.3em;
}
}
@include mq(large) {
.search {

}
.search-text {

}
}

.search-module {
	background-color:$dark-blue;
	height: 6em;
	margin-top:-6em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.47);
	position:relative;
	z-index:10000;
	@include transition (all .2s ease-in-out);
	&.active {
		margin-top:0;
	}
	.inner-wrap {
		padding: 0.3em 1.5em 1em;
	}
}
.search-exit {
	float: right;
	margin-left: 10px;
	margin-bottom: 5px;
	//position:absolute;
	top:0;
	right:0;
}

/*=============== Product Carousel ===============*/

/* Photo Gallery Section */

.photo-gallery-section{
	background-color: $dark-blue;
	.inner-wrap{
		padding-top:2em;
		padding-bottom:2em; 
	}
}

.photo-gallery-section .product-item{
	border:none;
}


.pgs-title{
	font-size:$xlarge-font-size;
	color:$white;
	width:100%;
	span{
		font-weight:normal;
		display:block;
	}
	&:after{
		content:"Click Image to Enlarge";
		display:block;
		font-size:21px;
		font-weight:normal;
		margin-top:.3em;
	}
	@include mq(medium){
		@include span-columns(4 of 12)
	}
}

.product-carousel {
	width:100%;
	&:after{
			content: "";
		  background-image: url(img/ico-mobile-swipe.png);
		  display: block;
		  margin: 20px auto;
		  width: 60px;
		  height: 77px;
		}
	@include mq(medium){
		@include span-columns(8 of 12);
		&:after{
			display:none;
		}
	}
}
.flexslider .slides>li{
	margin-right:20px;
}

.flex-direction-nav .flex-next{
	right:0px;
}


/*=============== Preloaded Images ===============*/

.sf-small{
	background: url(img/capabilities-thin-film-coating.png) no-repeat -9999px -9999px;
	background-color: $dark-blue;
}
.products-section{
	background: url(img/grinding-and-polishing.png) no-repeat -9999px -9999px;
}
.fo-title{
	background: url(img/capabilities-machining.png) no-repeat -9999px -9999px;
}
.si-content{
	background: url(img/capabilities-hand-molding.png) no-repeat -9999px -9999px;
}

/*=============== Google Translate Pop-out ===============*/

.close-gt{
	color:$black;
	text-align:center;
	display: block;
	margin:auto;
	background-color: $light-gray;
	margin-bottom:10px;
}
.google-translator{
	@include transition (all .2s ease-in-out);
	position:absolute;
	top:0em;
	right:-100em;
	background-color: $white;
	padding:1em;
	z-index:50;
	box-shadow: 1px 1px 4px $black;
	border-radius:5px; 
}
.google-translator.active{
	@include transition (all .2s ease-in-out);
	top:1em;
	right:4em;
}

/* Hubspot */
#hs_form_target_main_form form, #hs_form_target_widget_1453132400714 form{
	padding:1em;
	background-color: $light-gray;
}

#hs_form_target_main_form fieldset, #hs_form_target_widget_1453132400714 fieldset{
	background-color: $light-gray;
}

#hs_form_target_main_form input, #hs_form_target_main_form textarea{
	border-top:solid 1px #aaa;
	border-bottom:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	
}

#hs_form_target_main_form input{
	height: em(38);
}

.hs_upload_file input{
	border:none!important;
}

#hs_form_target_main_form .hs-form fieldset{
	max-width:9999px;
}

#hs_form_target_main_form .hs-form fieldset.form-columns-3 .hs-form-field{
	width: 100%;
	@include mq(medium){
		width:33.2%;
	}
}
#hs_form_target_main_form .hs-form fieldset.form-columns-1 .hs-input {
  width: 100%;
}
#menu-primary-nav .page-item-352 a{
	font-weight: normal !important;
}
.home {
	.site-header{
		background-color: #06021b;
		.site-nav {
    background-color: transparent;
		.sn-li-l1 {
    background-color: transparent;
		}
	}
		
	}

.site-content{
	position: relative;
	&:before{
		@include linear-gradient(168deg, #06021b 0%, #06021b 38%, #1c1247 65%, #1c1247 100%);
		max-height: 635px;
		height: 100%; 
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		content: "";
	}
	.site-intro-section{
	 background-color: transparent;
	 position: relative;
	}

 		
}
	@include mq(small){
		.site-content{
			&:before{
			@include linear-gradient(168deg, #06021b 0%, #06021b 20%, #1c1247 55%, #1c1247 100%);
			}	
		}
	}
}


/*Hubspot select box style */

.hs-form-field{
	select{
		border-top:solid 1px #aaa;
		border-bottom:solid 1px #ccc;
		border-left:solid 1px #ccc;
		border-right:solid 1px #ccc;
		padding: 0.5em;
		margin-bottom: 0.75em;
		border-radius: 3px;
		height:em(38);
		background-color: $white;
		&:focus{
			box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(4, 32, 94, 0.7);
		}
	}
}

form.hs-form .form-columns-2 .hs-form-field .hs-input, form.hs-form .form-columns-3 .hs-form-field .hs-input{
	width: 100% !important;
}

/************ Featured Resources **************/
.featured-resources{
    background: $light-gray;
    padding-top: em(20);
    padding-bottom: em(20);
    .fr-heading{
    	color: $darker-blue;
    	font-size: em(30);
    	text-align: center;
    }
    .fr-item{
    	text-align: center;
    	padding-top: em(15);
    	padding-bottom: em(15);
    	.fr-title{
    		font-size: $base-font-size;
    		color: $darker-blue;
    		display: block;
    		text-align: left;
    		margin-bottom: em(10,18);
    	}
        .fr-figure{
        	width: 69%;
        	margin-bottom: em(20);
        }
        .fr-btn{
        	font-size: em(19);
        	padding-top: em(20,19);
        	padding-bottom: em(19,19);
        	&:after{
        		background-size: 18px auto;
        	}
        	&:hover{
        		background: $black;
        	}
        }
    }
    @include mq(medium){
    	.fr-item{
    		@include span-columns(4 of 12);
      @include omega(3n);
    		.fr-title{
    			min-height: em(92,18);
    		}
    	.fr-figure{
        	width: auto;
        }
    }
    }
    @include mq(large){
    	padding-top: em(30);
    	.fr-item{
    		padding-top: 0;
    		padding-bottom: 0;
    		.fr-title{
    		font-size: em(21);
    		margin-bottom: em(10,21);
    		margin-left: em(13,21);
    		min-height: em(97,21);
    		}
    		.fr-figure{
        	margin-bottom: em(39);
        	}
    	}
    }
    @include mq(xlarge){
    	.fr-heading{
    		font-size: $xlarge-font-size;
    	}
    	.fr-item{
    		.fr-title{
    			margin-left: em(27,21);
    			min-height: em(60,21);
    			margin-bottom: em(16,21);
    		}
    	}
    }
}

.product-cta{
h2{
	margin-bottom: em(28,24);
}
	.pc-item{
	text-align: center;
	padding: em(18) em(26); 
	border: 1px solid #cccccc;
	display: inline-block;
	border-radius: 8px;
	text-align: center;
	}
	.pc-fig{
			img{
		height: em(219);
		}
	}
	.pc-title{
		display: block;
		color: $blue;
		padding: 0;
		margin-top: em(10,18);
		margin-bottom: em(23,18);
		font-weight: bold;
		font-size: em(18);
	}
	.pc-btn{
	display: inline-block;
		color: $white;
		background: $blue;
		padding-left: em(23);
		padding-top: em(14);
		padding-bottom: em(14);
		padding-right: em(23);
		border-radius: 5px;
		&:hover{
			background: $black;
		}
	}
}