.shop-menu {
    .inner-wrap {
        padding-top: em(20);
        padding-bottom: em(15);
    }
    background-color: #F2F2F4;
    a {
        display: block;
        color: $base-font-color;
        font-size: $base-font-size;
        text-align: center;
        margin-bottom: em(10, 18);
        padding: 7px;
        &:hover {
            background-color: $blue;
            color: white;
            border-radius: 5px;
        }
        &.active {
            background-color: $blue;
            color: white;
            border-radius: 5px;
        }
    }
    .home-link {
        img {
            vertical-align: middle;
            margin-right: em(8, 18);
        }
        .white-home-ico {
            display: none;
        }
        &:hover {
            .blue-home-ico {
                display: none;
            }
            .white-home-ico {
                display: inline-block;
            }
        }
    }
    .cart-icon {
        position: relative;
        span {
            position: absolute;
            top: 0;
        }
        &:hover {
            background-color: transparent;
            color: $blue;
        }
    }
    @include mq(medium) {
        a {
            font-size: 16px;
            display: inline-block;
            vertical-align: top;
            margin-right: em(12, 18);
            //width: 25%;
        }
        .cart-icon {
            margin-right: 0;
            span {
                left: 16px;
                top: -13px;
            }
        }
    }
    @include mq(xlarge) {
        a {
            font-size: 17px;
            margin-right: em(14, 18);
        }
    }
}

.shop-intro {
    .si-heading {
        text-align: center;
        font-size: $h3-font-size;
        margin-bottom: em(15, 32);
    }
    .si-subtext {
        text-align: center;
        font-size: $medium-font-size;
        a {
            font-weight: bold;
        }
    }
}

.shop-cta-module {
    text-align: center;
    @include linear-gradient(168deg, #06021b 0%, #06021b 38%, #1c1247 65%, #1c1247 100%);
    .sc-heading {
        h2 {
            font-size: em(45);
            font-weight: normal !important;
            color: white;
            margin-top: 0;
        }
    }
    .btn-dark {
        margin-bottom: em(20);
    }
    @include mq(medium) {
        .btn-dark {
            margin-right: em(20);
        }
    }
    @include mq(large) {
        text-align: left;
        .sc-heading {
            float: left;
            max-width: em(400);
        }
        .sc-ctas {
            text-align: right;
            .shop-btn {
                margin-bottom: em(0);
                text-align: left;
                border: 3px solid #fff;
                font-size: $medium-font-size;
                margin-top: em(10, 22);
                span {
                    font-size: em(18, 22);
                }
            }
        }
    }
}

.woocommerce {
    .button {
        background-color: #22366F !important;
        color: #FFFFFF !important;
    }
}

.product_title {
    color: $blue;
    font-size: $xlarge-font-size;
}

.related,
.woocommerce-tabs {
    h2 {
        color: $blue;
        font-size: $large-font-size;
    }
}

.site-content-primary {
    .wc_payment_methods {
        li:after {
            background-image: none;
        }
    }
}

#shipping_method {
    li:after {
        background-image: none;
    }
}

.cart {
    margin-top: em(30);
}

.woocommerce-content {
    p {
        a {
            text-decoration: underline;
        }
    }
}

.woocommerce {
    .quantity {
        .qty {
            border:1px solid #999;
        }
    }
}
