/*!
Theme Name: 	ULC Template
Theme URI: 		http://www.unitedlens.com/index.html
Description: 	Default theme for United Lens
Version: 		1.0
Author: 		ThomasNet RPM
Author URI: 	http://business.thomasnet.com/rpm
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: century gothic, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: century gothic, sans-serif;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 32px; }

h2 {
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 16px; }

h3 {
  font-size: 1.375em;
  margin-top: 24px;
  margin-bottom: 16px; }

h4 {
  font-size: 1.125em;
  margin-top: 16px;
  margin-bottom: 16px; }

h5 {
  font-size: 1.125em;
  margin-top: 16px;
  margin-bottom: 16px; }

h6 {
  font-size: 1.125em;
  margin-top: 16px;
  margin-bottom: 16px; }

p {
  margin: 16px 0; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #052976;
  text-decoration: none; }
  a:hover {
    color: #020f2d; }
  a:active, a:focus {
    color: #020f2d;
    outline: none; }

hr {
  border-bottom: 1px solid #eaeaea;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: white;
  border: 1px solid #eaeaea;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: century gothic, sans-serif;
  font-size: 1.125em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: century gothic, sans-serif;
  font-size: 1.125em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #d1d1d1; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #052976;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(4, 32, 94, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #c4c4c4;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #eaeaea;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

/*=============== Spec Tables ===============*/
.spec-table {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  background: white; }

.spec-thead {
  display: block; }

.spec-table-row {
  display: block;
  width: 100%; }

.spec-cell {
  display: block;
  background-color: #eaeaea;
  border: 0.2em solid #ffffff;
  padding: 0.5em 0.8em;
  vertical-align: top; }
  .spec-cell p {
    margin: 0.5em 0; }
  .spec-cell > ul {
    margin: 0.5em 0; }
    .spec-cell > ul > li {
      margin-bottom: 0 !important; }
      .spec-cell > ul > li ul {
        padding: 0 0 0 1.8em; }
  .spec-cell input, .spec-cell select {
    width: 100%; }

.spec-col {
  display: table-column; }

.spec-col-1 {
  width: 100%; }

.spec-col-2 {
  width: 100%; }

@media (min-width: 40em) {
  .spec-table {
    display: table; }

  .spec-thead {
    display: table-header-group; }

  .spec-table-row {
    display: table-row; }

  .spec-cell {
    display: table-cell; }
    .spec-cell p {
      font-size: 1em; }

  .spec-spec-col-1 {
    width: 30%; }

  .spec-spec-col-2 {
    width: 70%; }
 }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.site-content-primary ul, .entry-summary ul {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .site-content-primary ul li, .entry-summary ul li {
    position: relative;
    margin-bottom: 0.5em;
    line-height: 1.5em; }
    .site-content-primary ul li p, .entry-summary ul li p {
      font-size: 18px; }
    .site-content-primary ul li a, .entry-summary ul li a {
      text-decoration: none;
      font-weight: normal; }
    .site-content-primary ul li:after, .entry-summary ul li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: 0.45em;
      background-repeat: no-repeat; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1.125em;
    line-height: 1.5em; }
    .bullet-style li p {
      font-size: 18px; }
    .bullet-style li a {
      text-decoration: none;
      font-weight: normal; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: 0.45em;
      background-repeat: no-repeat; }

button, input[type="submit"], .btn-dark, .btn, .hs-button, .lps-btn {
  -webkit-font-smoothing: antialiased;
  background-color: #052976;
  color: white;
  display: inline-block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 3em 0.75em 1em;
  text-decoration: none;
  position: relative;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear; }
  button:hover, input[type="submit"]:hover, .btn-dark:hover, .btn:hover, .hs-button:hover, .lps-btn:hover {
    background-color: #052976;
    color: white; }
  button:disabled, input[type="submit"]:disabled, .btn-dark:disabled, .btn:disabled, .hs-button:disabled, .lps-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  button span, input[type="submit"] span, .btn-dark span, .btn span, .hs-button span, .lps-btn span {
    display: block;
    font-weight: normal;
    margin-bottom: 0.3em; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-dark:after, .btn:after, .hs-button:after {
  content: '';
  background-image: url(https://www.unitedlens.com/wp-content/themes/ulc-default/img/ico-arrow-yellow.png);
  background-size: 0.8125em;
  background-position: center;
  display: block;
  top: 0;
  bottom: 0;
  right: 1.25em;
  position: absolute;
  width: 20px;
  height: auto;
  background-repeat: no-repeat; }

.btn-dark {
  border: solid 3px #999;
  background-color: #000000; }

.btn {
  background-color: #052976; }

.lps-btn {
  background-color: orange;
  padding: 1.25em; }

.site-nav {
  background-color: #000000; }
  .site-nav span {
    white-space: nowrap; }
  @media (min-width: 40em) {
    .site-nav {
      width: 92%;
      float: left;
      display: block;
      position: relative;
      top: 0;
      left: 0;
      background-color: transparent; } }

.sn-level-1 {
  margin: 0;
  padding: 0; }

.sn-li-l1 {
  display: block;
  border-bottom: 1px solid #0d0d0d;
  background-color: transparent; }
  .sn-li-l1 a.active {
    background-color: #051842; }
  .sn-li-l1 span {
    font-size: 1.125em; }
  .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
    padding-right: 0em;
    background-image: url(img/ico-arrowdown.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 0.75em;
    display: block; }
  .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
    background-image: url(img/ico-arrowup.svg); }
  .sn-li-l1 > a {
    text-align: center;
    display: block;
    line-height: 3.125em;
    color: #ffffff;
    text-decoration: none;
    padding: 0 1em; }
    .sn-li-l1 > a:visited {
      color: #ffffff; }
    .sn-li-l1 > a:hover {
      color: white; }
  .sn-li-l1:hover {
    background-color: #051842; }
  @media (min-width: 40em) {
    .sn-li-l1 {
      float: left;
      border-bottom: 0; }
      .sn-li-l1:nth-child(1) {
        width: 18%; }
      .sn-li-l1:nth-child(2) {
        width: 15%; }
      .sn-li-l1:nth-child(3) {
        width: 16%; }
      .sn-li-l1:nth-child(4) {
        width: 14%; }
      .sn-li-l1:nth-child(5) {
        width: 14%; }
      .sn-li-l1:nth-child(6) {
        width: 22%;
        font-weight: bold; }
        .sn-li-l1:nth-child(6) span {
          color: #ead03d; }
      .sn-li-l1:hover .sn-level-2 {
        display: block; }
      .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
        padding-right: 1em;
        background-size: 0.625em;
        display: inline; }
      .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
        background-image: url(img/ico-arrowdown.svg); }
      .sn-li-l1 > a {
        padding: 0 1em; } }
  @media (min-width: 60em) {
    .sn-li-l1 > a {
      font-size: 1.125em;
      padding: 0 2em; }
 }
  @media (min-width: 80em) {
    .sn-li-l1 > a {
      padding: 0 2em; }
 }

.sn-level-2 {
  z-index: 5;
  padding: 0;
  margin: 0;
  display: none;
  position: relative; }
  .sn-level-2.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-2 {
      position: absolute; }
      .sn-level-2.active {
        display: none; } }

.sn-li-l2, .sn-li-l3 {
  background-color: #051842; }
  .sn-li-l2 > a, .sn-li-l3 > a {
    padding: 0 1em;
    color: #ffffff;
    border-top: 1px solid #092971;
    display: block;
    text-decoration: none;
    line-height: 3.125em; }
    .sn-li-l2 > a span, .sn-li-l3 > a span {
      font-size: 1em;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle; }
  .sn-li-l2:last-child > a, .sn-li-l3:last-child > a {
    border-bottom: 0; }
  .sn-li-l2:hover, .sn-li-l3:hover {
    background-color: #010713; }
  @media (min-width: 40em) {
    .sn-li-l2:hover .sn-level-3, .sn-li-l3:hover .sn-level-3 {
      display: block; }

    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 1em; }
 }
  @media (min-width: 60em) {
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 2em; }
 }
  @media (min-width: 80em) {
    .sn-li-l2 > a, .sn-li-l3 > a {
      padding: 0 2em; }
 }

.sn-level-3 {
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  border-left: 1px solid #092971; }
  .sn-level-3.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-3 {
      position: absolute;
      top: 3.125em;
      left: 100%; }
      .sn-level-3.active {
        display: none; } }

.site-nav-container {
  background-color: #000000;
  width: 17em;
  height: 100%;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .site-nav-container.active {
    right: 0; }
  @media (min-width: 40em) {
    .site-nav-container {
      width: auto;
      height: auto;
      right: auto;
      bottom: auto;
      top: auto;
      position: static;
      background-color: transparent;
      clear: both; } }

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-nav-container-screen.active {
    display: block; }
  @media (min-width: 40em) {
    .site-nav-container-screen {
      display: none !important; } }

.close-menu {
  display: inline-block;
  clear: both;
  position: relative;
  text-align: center;
  color: #052976 !important;
  font-family: century gothic, sans-serif;
  padding: 0.25em 1em;
  padding-right: 1.5625em;
  margin: 0 auto;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 0.1875em; }
  .close-menu:visited {
    color: #ffffff; }
  .close-menu:hover {
    color: #ffffff; }
  .close-menu:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: 0.8125em 0.8125em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1.5625em;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  @media (min-width: 40em) {
    .close-menu {
      display: none; } }

.snc-header {
  text-align: center;
  padding: 1em; }
  @media (min-width: 40em) {
    .snc-header {
      padding: 0; } }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap:after {
    content: "";
    display: table;
    clear: both; }
  .inner-wrap > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: 0.15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; }
 }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4:after {
    content: "";
    display: table;
    clear: both; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 40em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2:after {
      content: "";
      display: table;
      clear: both; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }

  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }

  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }

  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }

  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }

  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }

  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }

  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }

  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }

  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }

  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }

  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }

  .col-last {
    margin-right: 0;
    margin-right: 0 !important; }
 }

/*=============== Social Media ===============*/
.social-wrap {
  overflow: hidden;
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/ }
  .social-wrap a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative; }
    .social-wrap a path {
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear; }
    .social-wrap a:hover {
      opacity: 0.75; }
      .social-wrap a:hover path {
        fill: #052976; }
  .social-wrap img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }
  .social-wrap svg {
    display: inline-block;
    vertical-align: middle; }

/*=============== Slide Panel ===============*/
.slide-panel {
  display: none;
  position: fixed;
  background: #333;
  color: #fff;
  height: 100%;
  width: 21.25em;
  right: -em(340);
  top: 14%;
  z-index: 10;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .slide-panel h2 {
    padding: 0.2em 1em; }
  .slide-panel p {
    background: #333;
    padding: 0.25px 2em; }
  .slide-panel label {
    color: #ffffff !important; }
  .slide-panel:hover {
    right: 0px; }
  @media (min-width: 40em) {
    .slide-panel {
      display: block; } }

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: #333;
  min-width: 200px; }

/*=============== Slide Box ===============*/
#slidebox {
  padding: 0.625em 0.625em 0.625em 1em;
  position: fixed;
  bottom: 0;
  right: -em(430);
  z-index: 1000;
  width: 100%; }
  @media (min-width: 40em) {
    #slidebox {
      width: auto; } }

a.close {
  background-color: white;
  color: #052976;
  text-align: center;
  float: left;
  padding: 0 0.5em;
  font-size: 0.6875em;
  border-radius: 0.1875em;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em; }

a.close:hover {
  background-color: rgba(255, 255, 255, 0.75); }

/*=============== Misc ===============*/
hr {
  display: block;
  clear: both; }

figure {
  margin: 0;
  padding: 0; }

.wp-pagenavi > * {
  margin-right: 0.75em; }

.lightbox {
  cursor: zoom-in; }

/*=============== Rows no space ===============*/
.rows-of-2-ns > * {
  float: left;
  width: 50%; }

.rows-of-3-ns > * {
  float: left;
  width: 50%; }
@media (min-width: 40em) {
  .rows-of-3-ns > * {
    float: left;
    width: 33.3333%; }
 }

.rows-of-4-ns > * {
  float: left;
  width: 50%; }
@media (min-width: 40em) {
  .rows-of-4-ns > * {
    float: left;
    width: 25%; }
 }

.rows-of-5-ns > * {
  float: left;
  width: 50%; }
@media (min-width: 40em) {
  .rows-of-5-ns > * {
    float: left;
    width: 20%; }
 }

.site-wrap {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }

/*=============== Site Header ===============*/
.site-header {
  background-color: #06021b; }
  .site-header .inner-wrap {
    padding-bottom: 0;
    padding-top: 2.5625em; }
    @media (min-width: 40em) {
      .site-header .inner-wrap {
        position: relative; } }

.site-logo {
  margin-bottom: 2.5em;
  color: #ffffff;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 57.3509785009%; }
  .site-logo:last-child {
    margin-right: 0; }
  .site-logo:hover {
    color: #eaeaea; }
  .site-logo span {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 0.875em; }
  @media (min-width: 40em) {
    .site-logo {
      margin-bottom: 0; }
      .site-logo span {
        width: 100%;
        left: 194px;
        bottom: 90px;
        text-align: left;
        font-size: 1.125em; } }

.hs-landing-page .site-logo span {
  position: relative;
  bottom: 60px; }

.site-utility-nav {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%;
  margin-right: 0;
  overflow: hidden;
  margin-top: 1.25em; }
  .site-utility-nav:last-child {
    margin-right: 0; }
  .site-utility-nav .social-wrap {
    width: 15em;
    display: none; }
  .site-utility-nav .sh-utility-menu {
    display: none;
    overflow: hidden; }
  .site-utility-nav .sh-creds {
    color: #ffffff;
    float: right;
    margin-right: 1em;
    padding: 0.625em 1em 0.625em 2.5em;
    background-position: 0em 49%;
    display: inline-block;
    background-repeat: no-repeat; }
  .site-utility-nav .sh-iso {
    background-image: url("img/ico-iso.svg"); }
  .site-utility-nav .sh-itar {
    background-image: url("img/ico-itar.svg"); }
  @media (min-width: 40em) {
    .site-utility-nav {
      margin-top: 3.75em;
      text-align: right;
      float: right; }
      .site-utility-nav .sh-utility-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 1.5em; }
      .site-utility-nav .sh-utility-tab {
        background-color: #eaeaea;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        float: right; }
        .site-utility-nav .sh-utility-tab a {
          color: #051842;
          padding: 0.625em 1em 0.625em 2.5em;
          background-position: 0.75em 49%;
          display: inline-block; }
          .site-utility-nav .sh-utility-tab a:hover {
            background-color: #ffffff; }
          .site-utility-nav .sh-utility-tab a:nth-child(1) {
            background-image: url(img/ico-home.svg);
            background-repeat: no-repeat;
            padding-left: 3.75em;
            background-position: 1.875em 45%; }
          .site-utility-nav .sh-utility-tab a:nth-child(2) {
            background-image: url(img/ico-about.svg);
            background-repeat: no-repeat; }
          .site-utility-nav .sh-utility-tab a:nth-child(3) {
            background-image: url(img/ico-language.svg);
            background-repeat: no-repeat; }
          .site-utility-nav .sh-utility-tab a:nth-child(4) {
            background-image: url(img/ico-contact.svg);
            background-repeat: no-repeat; }
          .site-utility-nav .sh-utility-tab a:nth-child(5) {
            background-image: url(img/ico-careers.svg);
            background-repeat: no-repeat;
            padding-right: 1.875em; } }

.sh-icons {
  float: right; }

.sh-ico-search, .sh-ico-contact, .sh-ico-menu {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center; }
  .sh-ico-search span, .sh-ico-contact span, .sh-ico-menu span {
    font-size: 0.75em; }

.sh-ph {
  background-image: url(img/ico-phone.svg);
  background-position: 0 0.3125em;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: bold;
  display: none;
  margin: 0;
  padding-left: 1.5em; }
  .sh-ph:hover {
    color: #ead03d; }
  .sh-ph i {
    font-style: normal; }
  @media (min-width: 40em) {
    .sh-ph {
      display: inline-block;
      font-size: 1.375em; } }

.sh-email {
  display: none; }

.sh-ico-search {
  display: none; }
  @media (min-width: 40em) {
    .sh-ico-search {
      width: 5%;
      height: 1.7em;
      margin-top: 1em;
      float: left;
      display: block;
      background-image: url(img/ico-search.svg); } }

.sh-ico-contact {
  color: #ffffff;
  background-image: url(img/ico-phone.svg);
  margin: 0;
  width: 3em; }
  .sh-ico-contact:hover {
    color: #ead03d; }
  @media (min-width: 40em) {
    .sh-ico-contact {
      display: none; } }

.sh-ico-menu {
  color: #ffffff;
  background-image: url(img/ico-nav.svg); }
  .sh-ico-menu:hover {
    color: #ead03d; }
  @media (min-width: 40em) {
    .sh-ico-menu {
      display: none; } }

/*=============== Site Intro ===============*/
.site-intro-section {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #ffffff;
  /* mq(medium) */ }
  .site-intro-section .si-title {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 0em; }
  .site-intro-section .si-btn {
    display: block; }
  @media (min-width: 40em) {
    .site-intro-section {
      min-height: 530px; }
      .site-intro-section .si-content {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 57.3509785009%;
        margin-top: 2.5em; }
        .site-intro-section .si-content:last-child {
          margin-right: 0; }
      .site-intro-section .si-title {
        font-size: 4.375em; }
      .site-intro-section .si-blurb {
        font-size: 1.375em; }
      .site-intro-section .si-btn {
        display: inline-block;
        margin-top: 2em; } }

/*=============== Emergency Message ===============*/
.emergency-notification {
  background-color: #bbb;
  font-style: italic;
  text-align: center;
  border-bottom: solid 1px #fff;
  color: #ffffff; }
  .emergency-notification .inner-wrap {
    padding: 0.5em; }

/*=============== Products Section ===============*/
.products-section {
  overflow: hidden;
  position: relative;
  background-color: #000 !important;
  border: 1px solid #ffffff; }
  @media (min-width: 60em) {
    .products-section .product-item-wrap {
      width: 80%;
      float: right;
      clear: none; }
 }

.ps-text {
  border-bottom: 1px solid #ffffff;
  padding: 1.25em; }
  .ps-text h2 {
    margin: 0;
    color: #ffffff;
    font-size: 2.25em; }
  .ps-text p {
    margin: 0;
    color: #ffffff; }
  @media (min-width: 60em) {
    .ps-text {
      border-bottom: 0;
      width: 20%;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 1px solid #ffffff;
      border-top: 0; } }

.product-item-wrap {
  display: block;
  clear: both;
  overflow: hidden; }

.product-item {
  border-bottom: 1px solid #ffffff;
  position: relative;
  display: block;
  overflow: hidden;
  border-left: 1px solid #ffffff;
  min-height: 15.125em;
  padding: 1em 0.5em 0;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }
  .product-item:hover {
    opacity: 0.75; }
  @media (min-width: 60em) {
    .product-item:hover img {
      -webkit-transform: scale3d(0.95, 0.95, 1);
      transform: scale3d(0.95, 0.95, 1); }
    .product-item:hover h3.home-product-heading {
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0); }
    .product-item:hover h3 {
      -webkit-transform: translate3d(0, -41px, 0);
      transform: translate3d(0, -41px, 0); }
    .product-item:hover p {
      opacity: 1;
      -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0);
      transform: perspective(1000px) rotate3d(1, 0, 0, 0); }
 }
  @media (min-width: 80em) {
    .product-item:hover h3.home-product-heading {
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0); }
    .product-item:hover h3 {
      -webkit-transform: translate3d(0, -58px, 0);
      transform: translate3d(0, -58px, 0); }
 }
  .product-item img {
    opacity: 0.95;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -100px; }
  .product-item figcaption {
    padding: 0 !important;
    margin: 0 !important;
    float: left; }
    .product-item figcaption p {
      color: #ffffff;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      position: absolute;
      bottom: 10px;
      padding-right: 11px;
      left: 20px;
      margin-bottom: 0px; }
    .product-item figcaption h3 {
      color: #ffffff;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
      text-align: left;
      font-size: 1.125em;
      margin: 0;
      position: absolute;
      bottom: 60px;
      left: 20px; }
      .product-item figcaption h3 span {
        display: block; }
      @media (min-width: 60em) {
        .product-item figcaption h3 {
          font-size: 1.375em; } }
  .product-item .product-section .rows-of-2-ns {
    width: 50%; }
  @media (min-width: 80em) {
    .product-item {
      min-height: 18.75em; } }

/*=============== Capabilities Rotator Section ===============*/
@media (min-width: 40em) {
  .cr-nav-container {
    padding: 0 1.25em;
    padding-top: 3.75em;
    padding-bottom: 1.25em; } }

.cr-nav {
  width: 100%; }
  @media (min-width: 40em) {
    .cr-nav {
      float: left;
      margin-top: 10px; }
      .cr-nav .cr-nav-item:nth-child(1) {
        width: 20%; }
      .cr-nav .cr-nav-item:nth-child(2) {
        width: 23.5%; }
      .cr-nav .cr-nav-item:nth-child(3) {
        width: 30.5%; }
      .cr-nav .cr-nav-item:nth-child(4) {
        width: 26%; } }
  @media (min-width: 60em) {
    .cr-nav {
      width: 80%;
      font-size: 1.125em; } }

.cr-title {
  padding: 0.5em;
  width: 100%;
  color: #052976;
  font-size: 2.25em; }
  @media (min-width: 40em) {
    .cr-title {
      width: 100%;
      float: left;
      margin: 0;
      padding: 0; } }
  @media (min-width: 60em) {
    .cr-title {
      width: 20%; } }

.cr-nav-item {
  display: block;
  padding: 1.6em 2em 0 4.5em;
  border: solid 1px #D8E4F2;
  color: #052976;
  font-size: 1.125em;
  font-weight: bold;
  margin: 0;
  min-height: 4.875em;
  position: relative;
  text-align: left;
  background-size: 3.75em 4.875em;
  background-repeat: no-repeat; }
  .cr-nav-item:nth-child(1) {
    background-image: url(img/cr-nav-thumb-1.jpg); }
  .cr-nav-item:nth-child(2) {
    background-image: url(img/cr-nav-thumb-2.jpg); }
  .cr-nav-item:nth-child(3) {
    background-image: url(img/cr-nav-thumb-3.jpg); }
  .cr-nav-item:nth-child(4) {
    background-image: url(img/cr-nav-thumb-4.jpg); }
  .cr-nav-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2em;
    background-color: #052976;
    background-image: url(img/ico-arrow-yellow.png);
    background-repeat: no-repeat;
    background-position: 50%; }
  @media (min-width: 40em) {
    .cr-nav-item {
      text-align: center;
      background-size: 0;
      min-height: 20px;
      padding: 0;
      margin: 0;
      background-image: none !important;
      background-color: none;
      float: left;
      color: #052976;
      position: relative;
      cursor: pointer;
      border: none; }
      .cr-nav-item:after {
        display: none; }
      .cr-nav-item.active {
        color: #051842; }
        .cr-nav-item.active:after {
          display: block;
          background-color: transparent;
          content: '';
          background-image: url(img/ico-arrow-capabilities.png);
          position: absolute;
          top: auto;
          bottom: -42px;
          left: 0;
          right: 0;
          margin: auto;
          width: 40px;
          height: 30px; } }

.capabilities-rotator-section .cr-window {
  display: none; }
  .capabilities-rotator-section .cr-window .btn-dark {
    font-size: 1.375em; }
  @media (min-width: 40em) {
    .capabilities-rotator-section .cr-window {
      display: block;
      padding-top: 3em;
      background-color: #000000;
      background-image: url(img/capabilities-thin-film-coating.jpg);
      background-repeat: no-repeat;
      background-position: 50% 60%;
      min-height: 500px;
      width: 100%;
      clear: both; }
      .capabilities-rotator-section .cr-window .cr-content {
        float: right;
        color: #ffffff;
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 40.2913699012%;
        margin-left: 59.7086300988%; }
        .capabilities-rotator-section .cr-window .cr-content:last-child {
          margin-right: 0; }
        .capabilities-rotator-section .cr-window .cr-content .cr-subtitle {
          font-size: 2.25em;
          color: #ffffff; }
        .capabilities-rotator-section .cr-window .cr-content .cr-blurb {
          font-size: 1.375em;
          margin-bottom: 2em;
          padding-right: 1em; } }

.features-offered-section {
  background-color: #eaeaea;
  overflow: hidden; }
  .features-offered-section h2 {
    font-size: 2.25em;
    color: #051842; }
    @media (min-width: 40em) {
      .features-offered-section h2 {
        margin: 0; } }

.fo-offer, .fo-title {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .fo-offer:last-child, .fo-title:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .fo-offer, .fo-title {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .fo-offer:last-child, .fo-title:last-child {
        margin-right: 0; } }

.fo-btn {
  display: block;
  font-size: 1.275em; }

.fo-btn:hover {
  background-color: #051842; }

/*=============== Primary Content ===============*/
.site-content-primary {
  width: 100%; }
  .site-content-primary p a {
    text-decoration: underline; }
  @media (min-width: 40em) {
    .site-content-primary {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%; }
      .site-content-primary:last-child {
        margin-right: 0; } }
  .site-content-primary .product-item {
    min-height: auto; }
    .site-content-primary .product-item figcaption h3 {
      bottom: 1.875em; }
      @media (min-width: 40em) {
        .site-content-primary .product-item figcaption h3 {
          font-size: 1em; } }
      @media (min-width: 60em) {
        .site-content-primary .product-item figcaption h3 {
          font-size: 1.125em; } }
      @media (min-width: 80em) {
        .site-content-primary .product-item figcaption h3 {
          font-size: 1.375em; } }
    .site-content-primary .product-item img {
      margin-top: auto;
      position: relative;
      top: auto; }

.scp-title {
  font-size: 2.25em;
  color: #052976; }

.scp-emph {
  font-size: 1.375em;
  color: #052976; }

/* Chart */
.spec-table-wrapper {
  border: solid 3px #eaeaea;
  padding: 1em;
  margin-top: 1em;
  overflow: hidden; }

.spec-table {
  overflow-y: hidden;
  max-height: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .spec-table.active {
    max-height: 9999px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.table-title {
  margin: 0;
  font-size: 1.375em;
  color: #052976;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .table-title:after {
    content: "+";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1em;
    background-position: 50%; }

.table-title.active {
  color: #051842;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .table-title.active:after {
    content: "-"; }

/*=============== Secondary Content ===============*/
.site-content-secondary {
  width: 100%; }
  @media (min-width: 40em) {
    .site-content-secondary {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%;
      margin-right: 0; }
      .site-content-secondary:last-child {
        margin-right: 0; } }
  .site-content-secondary .scs-title {
    color: #051842; }
  .site-content-secondary .menu {
    margin-bottom: 1em; }
  .site-content-secondary .menu-item {
    border-bottom: solid 1px #052976; }
    .site-content-secondary .menu-item:first-child {
      border-top: solid 1px #052976; }
    .site-content-secondary .menu-item a {
      display: block;
      padding: 0.25em 0; }
    .site-content-secondary .menu-item a.active {
      font-weight: bold; }

.scs-btn {
  margin-bottom: 1em;
  display: block; }

.back-to-top {
  display: none; }
  @media (min-width: 40em) {
    .back-to-top {
      display: block;
      text-align: center;
      margin: auto;
      padding: 0.5em 1em;
      position: fixed;
      bottom: 3.5em;
      right: 2em;
      font-weight: bold;
      background-color: #ffffff;
      z-index: 20; } }

/*=============== HubSpot Landing Page ===============*/
ul.lps-sales-points {
  margin-left: 1.75em; }

.lps-sales-points li {
  position: relative; }

ul.lps-sales-points li:after {
  content: '';
  width: 1.5em;
  height: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  background-image: url(https://www.unitedlens.com/wp-content/themes/ulc-default/img/ico-bullet.svg);
  background-position: center center;
  background-size: 0.45em;
  background-repeat: no-repeat;
  color: #052976; }

.lps-imagery {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .lps-imagery:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .lps-imagery {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .lps-imagery:last-child {
        margin-right: 0; } }

.landing-page-section .site-content-primary {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin-right: 0; }
  .landing-page-section .site-content-primary:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .landing-page-section .site-content-primary {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .landing-page-section .site-content-primary:last-child {
        margin-right: 0; } }

.lps-title-action {
  font-style: italic;
  color: #999;
  font-weight: bold;
  font-size: 1.5em; }

.lps-title {
  color: #051842; }

.lps-emph {
  font-size: 1.375em; }

/*============== Hubspot Two Columns ====================*/
.hs2col-sales-points {
  margin-left: 1.75em; }

.hs2col-sales-points li {
  position: relative; }

ul.hs2col-sales-points li:after {
  content: '';
  width: 1.5em;
  height: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  background-image: url(https://www.unitedlens.com/wp-content/themes/ulc-default/img/ico-bullet.svg);
  background-position: center center;
  background-size: 0.45em;
  background-repeat: no-repeat;
  color: #052976; }

.hs2col-imagery {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .hs2col-imagery:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .hs2col-imagery {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .hs2col-imagery:last-child {
        margin-right: 0; } }

.hubspot-two-columns .site-content-primary {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin-right: 0; }
  .hubspot-two-columns .site-content-primary:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .hubspot-two-columns .site-content-primary {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .hubspot-two-columns .site-content-primary:last-child {
        margin-right: 0; } }

.hs2col-title-action {
  font-style: italic;
  color: #999;
  font-weight: bold;
  font-size: 1.5em; }

.hs2col-title {
  color: #051842; }

.hs2col-emph {
  font-size: 1.375em; }

/*============== Hubspot Forms ====================*/
.hs-content-id-3655496703 .hs-form fieldset {
  max-width: 1000px; }

/*=============== Site Footer ===============*/
.site-footer {
  background-color: #ffffff;
  text-align: left;
  color: #000000; }
  .site-footer .social-wrap {
    max-width: 150px; }
  .site-footer a {
    color: #000000; }
    .site-footer a:hover {
      color: #052976; }

.sf-title {
  margin: 40px 0 20px 0;
  color: #051842; }

.sf-col p {
  padding-left: 30px;
  background-position: 0 3px;
  background-repeat: no-repeat; }
@media (min-width: 40em) {
  .sf-col {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .sf-col:last-child {
      margin-right: 0; } }

.sf-address {
  background-image: url(img/ico-address.svg); }

.sf-phone {
  background-image: url(img/ico-phone-footer.svg); }

.sf-email {
  background-image: url(img/ico-email.svg); }

.sf-resource {
  background-image: url(img/ico-resources.svg);
  background-size: 1.25em; }

.rssincl-itemtitle {
  background-image: url(img/ico-twitter.svg); }

.sf-small {
  background-color: #051842;
  text-align: center;
  color: #ffffff; }
  .sf-small a {
    color: #ffffff; }
  .sf-small .inner-wrap {
    padding-top: 1em;
    padding-bottom: 1em; }

.sf-block-1 {
  float: left;
  text-align: left;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .sf-block-1:last-child {
    margin-right: 0; }

.sf-block-2 {
  float: right;
  text-align: right;
  margin-top: 0;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .sf-block-2:last-child {
    margin-right: 0; }

img[name=pphLoggerImage] {
  display: none; }

/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0; }

.search-row {
  display: table-row;
  width: 100%; }

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em; }

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0; }

.search-text {
  font-size: 0.8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: 0.5em;
  margin-bottom: 0 !important; }

.search-submit {
  width: 100%;
  height: 2.3em;
  border: 0;
  float: right;
  background: url(img/ico-search.svg) no-repeat center center !important; }

.no-svg .search-submit {
  background: url(img/ico-search.png) no-repeat center center !important; }

@media (min-width: 40em) {
  .site-search {
    width: 100%; }

  .search-text {
    height: 2.3em; }

  .search-submit {
    height: 2.3em; }
 }

.search-module {
  background-color: #051842;
  height: 6em;
  margin-top: -6em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: relative;
  z-index: 10000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .search-module.active {
    margin-top: 0; }
  .search-module .inner-wrap {
    padding: 0.3em 1.5em 1em; }

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  top: 0;
  right: 0; }

/*=============== Product Carousel ===============*/
/* Photo Gallery Section */
.photo-gallery-section {
  background-color: #051842; }
  .photo-gallery-section .inner-wrap {
    padding-top: 2em;
    padding-bottom: 2em; }

.photo-gallery-section .product-item {
  border: none; }

.pgs-title {
  font-size: 2.25em;
  color: #ffffff;
  width: 100%; }
  .pgs-title span {
    font-weight: normal;
    display: block; }
  .pgs-title:after {
    content: "Click Image to Enlarge";
    display: block;
    font-size: 21px;
    font-weight: normal;
    margin-top: 0.3em; }
  @media (min-width: 40em) {
    .pgs-title {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .pgs-title:last-child {
        margin-right: 0; } }

.product-carousel {
  width: 100%; }
  .product-carousel:after {
    content: "";
    background-image: url(img/ico-mobile-swipe.png);
    display: block;
    margin: 20px auto;
    width: 60px;
    height: 77px; }
  @media (min-width: 40em) {
    .product-carousel {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      .product-carousel:last-child {
        margin-right: 0; }
      .product-carousel:after {
        display: none; } }

.flexslider .slides > li {
  margin-right: 20px; }

.flex-direction-nav .flex-next {
  right: 0px; }

/*=============== Preloaded Images ===============*/
.sf-small {
  background: url(img/capabilities-thin-film-coating.png) no-repeat -9999px -9999px;
  background-color: #051842; }

.products-section {
  background: url(img/grinding-and-polishing.png) no-repeat -9999px -9999px; }

.fo-title {
  background: url(img/capabilities-machining.png) no-repeat -9999px -9999px; }

.si-content {
  background: url(img/capabilities-hand-molding.png) no-repeat -9999px -9999px; }

/*=============== Google Translate Pop-out ===============*/
.close-gt {
  color: #000000;
  text-align: center;
  display: block;
  margin: auto;
  background-color: #eaeaea;
  margin-bottom: 10px; }

.google-translator {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0em;
  right: -100em;
  background-color: #ffffff;
  padding: 1em;
  z-index: 50;
  box-shadow: 1px 1px 4px #000000;
  border-radius: 5px; }

.google-translator.active {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 1em;
  right: 4em; }

/* Hubspot */
#hs_form_target_main_form form, #hs_form_target_widget_1453132400714 form {
  padding: 1em;
  background-color: #eaeaea; }

#hs_form_target_main_form fieldset, #hs_form_target_widget_1453132400714 fieldset {
  background-color: #eaeaea; }

#hs_form_target_main_form input, #hs_form_target_main_form textarea {
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc; }

#hs_form_target_main_form input {
  height: 2.375em; }

.hs_upload_file input {
  border: none !important; }

#hs_form_target_main_form .hs-form fieldset {
  max-width: 9999px; }

#hs_form_target_main_form .hs-form fieldset.form-columns-3 .hs-form-field {
  width: 100%; }
  @media (min-width: 40em) {
    #hs_form_target_main_form .hs-form fieldset.form-columns-3 .hs-form-field {
      width: 33.2%; } }

#hs_form_target_main_form .hs-form fieldset.form-columns-1 .hs-input {
  width: 100%; }

#menu-primary-nav .page-item-352 a {
  font-weight: normal !important; }

.home .site-header {
  background-color: #06021b; }
  .home .site-header .site-nav {
    background-color: transparent; }
    .home .site-header .site-nav .sn-li-l1 {
      background-color: transparent; }
.home .site-content {
  position: relative; }
  .home .site-content:before {
    background-color: #06021b;
    background-image: -webkit-linear-gradient(-438deg, #06021b 0%, #06021b 38%, #1c1247 65%, #1c1247 100%);
    background-image: linear-gradient(168deg,#06021b 0%, #06021b 38%, #1c1247 65%, #1c1247 100%);
    max-height: 635px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: ""; }
  .home .site-content .site-intro-section {
    background-color: transparent;
    position: relative; }
@media (max-width: 40em) {
  .home .site-content:before {
    background-color: #06021b;
    background-image: -webkit-linear-gradient(-438deg, #06021b 0%, #06021b 20%, #1c1247 55%, #1c1247 100%);
    background-image: linear-gradient(168deg,#06021b 0%, #06021b 20%, #1c1247 55%, #1c1247 100%); }
 }

/*Hubspot select box style */
.hs-form-field select {
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border-radius: 3px;
  height: 2.375em;
  background-color: #ffffff; }
  .hs-form-field select:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 5px rgba(4, 32, 94, 0.7); }

form.hs-form .form-columns-2 .hs-form-field .hs-input, form.hs-form .form-columns-3 .hs-form-field .hs-input {
  width: 100% !important; }

/************ Featured Resources **************/
.featured-resources {
  background: #eaeaea;
  padding-top: 1.25em;
  padding-bottom: 1.25em; }
  .featured-resources .fr-heading {
    color: #051941;
    font-size: 1.875em;
    text-align: center; }
  .featured-resources .fr-item {
    text-align: center;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em; }
    .featured-resources .fr-item .fr-title {
      font-size: 1.125em;
      color: #051941;
      display: block;
      text-align: left;
      margin-bottom: 0.5555555556em; }
    .featured-resources .fr-item .fr-figure {
      width: 69%;
      margin-bottom: 1.25em; }
    .featured-resources .fr-item .fr-btn {
      font-size: 1.1875em;
      padding-top: 1.0526315789em;
      padding-bottom: 1em; }
      .featured-resources .fr-item .fr-btn:after {
        background-size: 18px auto; }
      .featured-resources .fr-item .fr-btn:hover {
        background: #000000; }
  @media (min-width: 40em) {
    .featured-resources .fr-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .featured-resources .fr-item:last-child {
        margin-right: 0; }
      .featured-resources .fr-item:nth-child(3n) {
        margin-right: 0; }
      .featured-resources .fr-item:nth-child(3n+1) {
        clear: left; }
      .featured-resources .fr-item .fr-title {
        min-height: 5.1111111111em; }
      .featured-resources .fr-item .fr-figure {
        width: auto; }
 }
  @media (min-width: 60em) {
    .featured-resources {
      padding-top: 1.875em; }
      .featured-resources .fr-item {
        padding-top: 0;
        padding-bottom: 0; }
        .featured-resources .fr-item .fr-title {
          font-size: 1.3125em;
          margin-bottom: 0.4761904762em;
          margin-left: 0.619047619em;
          min-height: 4.619047619em; }
        .featured-resources .fr-item .fr-figure {
          margin-bottom: 2.4375em; } }
  @media (min-width: 80em) {
    .featured-resources .fr-heading {
      font-size: 2.25em; }

    .featured-resources .fr-item .fr-title {
      margin-left: 1.2857142857em;
      min-height: 2.8571428571em;
      margin-bottom: 0.7619047619em; }
 }

.product-cta h2 {
  margin-bottom: 1.1666666667em; }
.product-cta .pc-item {
  text-align: center;
  padding: 1.125em 1.625em;
  border: 1px solid #cccccc;
  display: inline-block;
  border-radius: 8px;
  text-align: center; }
.product-cta .pc-fig img {
  height: 13.6875em; }
.product-cta .pc-title {
  display: block;
  color: #052976;
  padding: 0;
  margin-top: 0.5555555556em;
  margin-bottom: 1.2777777778em;
  font-weight: bold;
  font-size: 1.125em; }
.product-cta .pc-btn {
  display: inline-block;
  color: #ffffff;
  background: #052976;
  padding-left: 1.4375em;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  padding-right: 1.4375em;
  border-radius: 5px; }
  .product-cta .pc-btn:hover {
    background: #000000; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.alignright {
  display: block;
  padding-bottom: 1.5em; }

.alignleft {
  display: block;
  padding-bottom: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }

  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }

  .aligncenter {
    display: block;
    margin: 0 auto; }
 }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.clearboth {
  clear: both;
  display: block; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: transparent;
  border: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 125em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 57%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  left: -30px; }

.flexslider:hover .flex-next {
  right: -40px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  content: '';
  height: 2.5em;
  background-size: 30px;
  background-repeat: no-repeat;
  background-image: url(img/ico-arrow-left-white.svg); }

/*{ font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }*/
.flex-direction-nav a.flex-next:before {
  background-image: url(img/ico-arrow-white.svg); }

/*{ content: '\f002'; }*/
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
.flex-direction-nav .flex-prev {
  opacity: 0.3;
  left: -30px; }

.flex-direction-nav .flex-next {
  opacity: 0.3;
  right: -40px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v1.0.2 - 2014-12-17
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0.7em; }

.tablesaw thead tr:first-child th {
  padding-top: 0.9em;
  padding-bottom: 0.7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }

  .tablesaw-stack tr {
    clear: both;
    display: table-row; }

  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 0.6em 0 0;
    width: 30%;
    display: inline-block; }

  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: 0.4em 0;
    margin: 0.4em 0; }

  .tablesaw-cell-label {
    display: block; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }

  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; }
 }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }

  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }

  .tablesaw-cell-label {
    vertical-align: top; }

  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block; }

  .tablesaw-stack td:empty, .tablesaw-stack th:empty {
    display: none; }
 }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }

  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }

  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; }
 }

.shop-menu {
  background-color: #F2F2F4; }
  .shop-menu .inner-wrap {
    padding-top: 1.25em;
    padding-bottom: 0.9375em; }
  .shop-menu a {
    display: block;
    color: #333;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 0.5555555556em;
    padding: 7px; }
    .shop-menu a:hover {
      background-color: #052976;
      color: white;
      border-radius: 5px; }
    .shop-menu a.active {
      background-color: #052976;
      color: white;
      border-radius: 5px; }
  .shop-menu .home-link img {
    vertical-align: middle;
    margin-right: 0.4444444444em; }
  .shop-menu .home-link .white-home-ico {
    display: none; }
  .shop-menu .home-link:hover .blue-home-ico {
    display: none; }
  .shop-menu .home-link:hover .white-home-ico {
    display: inline-block; }
  .shop-menu .cart-icon {
    position: relative; }
    .shop-menu .cart-icon span {
      position: absolute;
      top: 0; }
    .shop-menu .cart-icon:hover {
      background-color: transparent;
      color: #052976; }
  @media (min-width: 40em) {
    .shop-menu a {
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      margin-right: 0.6666666667em; }

    .shop-menu .cart-icon {
      margin-right: 0; }
      .shop-menu .cart-icon span {
        left: 16px;
        top: -13px; }
 }
  @media (min-width: 80em) {
    .shop-menu a {
      font-size: 17px;
      margin-right: 0.7777777778em; }
 }

.shop-intro .si-heading {
  text-align: center;
  font-size: 1.96875em;
  margin-bottom: 0.46875em; }
.shop-intro .si-subtext {
  text-align: center;
  font-size: 1.375em; }
  .shop-intro .si-subtext a {
    font-weight: bold; }

.shop-cta-module {
  text-align: center;
  background-color: #06021b;
  background-image: -webkit-linear-gradient(-438deg, #06021b 0%, #06021b 38%, #1c1247 65%, #1c1247 100%);
  background-image: linear-gradient(168deg,#06021b 0%, #06021b 38%, #1c1247 65%, #1c1247 100%); }
  .shop-cta-module .sc-heading h2 {
    font-size: 2.8125em;
    font-weight: normal !important;
    color: white;
    margin-top: 0; }
  .shop-cta-module .btn-dark {
    margin-bottom: 1.25em; }
  @media (min-width: 40em) {
    .shop-cta-module .btn-dark {
      margin-right: 1.25em; }
 }
  @media (min-width: 60em) {
    .shop-cta-module {
      text-align: left; }
      .shop-cta-module .sc-heading {
        float: left;
        max-width: 25em; }
      .shop-cta-module .sc-ctas {
        text-align: right; }
        .shop-cta-module .sc-ctas .shop-btn {
          margin-bottom: 0em;
          text-align: left;
          border: 3px solid #fff;
          font-size: 1.375em;
          margin-top: 0.4545454545em; }
          .shop-cta-module .sc-ctas .shop-btn span {
            font-size: 0.8181818182em; } }

.woocommerce .button {
  background-color: #22366F !important;
  color: #FFFFFF !important; }

.product_title {
  color: #052976;
  font-size: 2.25em; }

.related h2, .woocommerce-tabs h2 {
  color: #052976;
  font-size: 1.5em; }

.site-content-primary .wc_payment_methods li:after {
  background-image: none; }

#shipping_method li:after {
  background-image: none; }

.cart {
  margin-top: 1.875em; }

.woocommerce-content p a {
  text-decoration: underline; }

.woocommerce .quantity .qty {
  border: 1px solid #999; }

/*!
[hubspot-metadata]
{
    "path": "custom/page/web_page_basic/style.css"
}
[end-hubspot-metadata]
*/