</section> <!-- End Site Content -->


<!--Site Footer-->
<footer class="site-footer" role="contentinfo">
    <div class="inner-wrap">
        <ul>
            <li class="sf-col">
                <h4 class="sf-title">Contact United Lens Company</h4>
                <p class="sf-address">259 Worchester St. Southbridge, MA 01550</p>
                <p class="sf-phone"><a href="tel:508-765-5421">(508) 765-5421</a></p>
                <p class="sf-email"><a href="mailto:info@unitedlens.com">Info@UnitedLens.com</a></p>
                <h4 class="sf-title">Stay In Touch!</h4>
                <div class="social-wrap">
                    <a href="#" target="_blank"><img src="//cdn2.hubspot.net/hub/476692/img/ico-twitter.svg" data-png-fallback="img/ico-twitter.png" alt="Twitter"></a>
                    <a href="#" target="_blank"><img src="//cdn2.hubspot.net/hub/476692/img/ico-linkedin.svg" data-png-fallback="img/ico-linkedin.png" alt="Linked In"></a>
                    <a href="#" target="_blank"><img src="//cdn2.hubspot.net/hub/476692/img/ico-google-plus.svg" data-png-fallback="img/ico-google-plus.png" alt="Google Plus"></a>
                    <a href="#" target="_blank"><img src="//cdn2.hubspot.net/hub/476692/img/ico-youtube.svg" data-png-fallback="img/ico-youtube.png" alt="Youtube"></a>
                </div>
            </li>
            <li class="sf-col">
                <h4 class="sf-title">Resources</h4>
                <p class="sf-resource"><a href="">Learn About Blank Precision Machining</a></p>
                <p class="sf-resource"><a href="">Take A Virtual Tour of ULC Facilities</a></p>
                <p class="sf-resource"><a href="">Optic Polishing, Grinding & Finishing eBook
</a></p>
                <p class="sf-resource"><a href="">Test Plates & Mirror Blanks eBook</a></p>
            </li>
            <li class="sf-col">
                <h4 class="sf-title">Twitter Feed</h4>
                <div class="rssincl-content">
                    <a href="https://twitter.com/ConWireCable/status/582565627417780225" target="_blank">
                        <div class="rssincl-entry">
                            <p class="rssincl-itemtitle">
                                Learn about the advantages of a molded #cable assembly:
                                http://t.co/IvwNOgFFmS </p>
                            <div class="rssincl-clear"></div>
                        </div>
                    </a>
                    <a href="https://twitter.com/ConWireCable/status/581473358849687552" target="_blank">
                        <div class="rssincl-entry">
                            <p class="rssincl-itemtitle">
                                    A visual guide to plug patterns in every country, and more
                                    power cord standards: http://t.co/bAkJwiSU6W #electronics</p>
                            <div class="rssincl-clear"></div>
                        </div>
                     </a>
                    <a href="https://twitter.com/ConWireCable/status/581154675975655425" target="_blank">
                        <div class="rssincl-entry">
                            <p class="rssincl-itemtitle">
                                Download our eBook on how to choose a wire and #cable manufacturer: http://t.co/oqJE0slfqC </p>
                            <div class="rssincl-clear"></div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sf-small">
        <div class="inner-wrap">
            <p>{{ year }} {% include "custom/pages/rpm/footer-copyright.html"%} | <a href="/privacy">Privacy Policy</a>  |  <a href="/site-map">Site Map</a>  |  Website by <a href="http://business.thomasnet.com/rpm" target="_blank">ThomasNet RPM</a></p>
        </div>
    </div>
</footer>

   

<!--

-->