        <!--Site Header-->
        <header class="site-header" role="banner">
            <div class="inner-wrap">
                 <a href="dest.html" class="site-logo"><img src="http://www.unitedlens.com/wp-content/themes/ulc-default/img/ulc-logo.png" alt="ULC Logo"><span>“The Symbol of Quality, Value and Integrity”</span></a>
                <div class="site-utility-nav">
                    <div class="sh-utility-menu">
                        <a href="/">Home</a>
                        <a href="/language">Language</a>
                        <a href="">Contact</a>
                        <a href="">Careers</a>
                    </div>
                    <a href="#" class="sh-ph"><span class="google-number">(508)-765-5421</span></a> 
                    <span class="sh-icons">
                        <a href="tel:123-123-1234" class="sh-ico-contact" target="_blank"><span>Contact</span></a>
                        <a href="#menu" class="sh-ico-menu menu-link"><span>Menu</span></a>
                    </span> 
                </div> 
                <!--Site Nav-->
                <div class="site-nav-container">
                    <div class="snc-header">
                        <a href="" class="close-menu menu-link">Close</a>
                    </div>
                    <nav class="site-nav" role="navigation">
                        <ul class="sn-level-1">
                            <li class="sn-li-l1">
                                <a href="#"><span>Capabilities</span></a>
                            </li>
                            <li class="sn-li-l1">
                                <a href="#"><span>Industries</span></a>
                            </li>
                            <li class="sn-li-l1">
                                <a href="#"><span>Resources</span></a>
                            </li> 
                            <li class="sn-li-l1">
                                <a href="#"><span>Catalog</span></a>
                            </li> 
                            <li class="sn-li-l1">
                                <a href="#"><span>About Us</span></a>
                            </li> 
                            <li class="sn-li-l1">
                                <a href="#"><span>Request A Quote</span></a>
                            </li> 
                        </ul>
                    </nav>
                </div>
                <a class="sh-ico-search search-link" target="_blank" href="#"></a>
                <a href="" class="site-nav-container-screen menu-link">&nbsp;</a>
                <!--Site Nav END-->
            </div><!--inner-wrap END-->
        </header>
        
        <section class="site-content" role="main">
<!--

-->