</section> <!-- End Site Content -->

<!--Site Footer-->
<footer class="site-footer" role="contentinfo">
    <div class="sf-small">
        <div class="inner-wrap">
            <p class="sf-block-1">259 Worcester St. Southbridge, MA 01550 <br>
            <a href="tel:508-765-5421"> (508) 765-5421</a>  |  <a href="mailto:info@unitedlens.com">Info@UnitedLens.com</a></p>
            
            <p class="sf-block-2"> <a href="http://www.unitedlens.com/privacy-policy/">Privacy Policy</a>  |  <a href="http://www.unitedlens.com/site-map/">Site Map</a>  |  Website by <a href="http://business.thomasnet.com/rpm" target="_blank">ThomasNet RPM</a></p>
        </div>
    </div>
</footer>

<!--

-->